@model ServiceTRAX.Models.ViewModels.ServiceTRAXAdminLogsViewModel

@{
    ViewData["Title"] = "Log Files";
}


<style>
    table.customTable {
        font-size: 14px;
        width: 100%;
        background-color: #FFFFFF;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #7EA8F8;
        border-style: solid;
        color: #000000;
    }

        table.customTable td, table.customTable th {
            padding: 5px;
        }


        table.customTable tr .grouprow {
            background-color: rgba(126, 168, 248, 0.35);
        }

        table.customTable td[scope=row] {
            white-space: pre;
        }

        table.customTable thead {
            background-color: #7EA8F8;
            text-align: center;
        }


    td.centered {
        text-align: center;
    }

    tr.fixedtop th {
        position: sticky;
        top: 0;
        background-color: #7EA8F8;
    }
</style>



<table class="table mt-4 customTable">
    <thead>
        <tr class="fixedtop">
            <th scope="col">Log Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Files.OrderByDescending(f=>f.CreationTime))
        {
            <tr>
                <td><a asp-controller="Admin" asp-action="Log" asp-route-filename="@file.Name">@file.Name</a></td>
                <td>@file.CreationTime.ToString("s")</td>
                <td>@(file.Length / 1024) KB</td>
            </tr>
        }
    </tbody>
</table>