@model ServiceTRAX.Models.ViewModels.ServiceTRAXPageViewModel

@{
    ViewData["Title"] = "MAC Report Config";
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 145px;
            right: 20px;
            bottom: 30px;
        }
    </style>
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css" asp-append-version="true">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js" asp-append-version="true"></script>
    <script type='text/javascript' src='~/override/main-custom.js' asp-append-version="true"></script>


    <script type="text/javascript">

        let gridParameters = () => ({ ORGANIZATION_ID: @Model.OrganizationID });
        let gridEvents = {};
        let oGrid = new clsMyGrid('MAC_Report_Config', document.getElementById('tegGrid'), null, gridEvents, true, gridParameters());

    </script>

}

@*<div class="row">
    <div class="col-12 mt-3">
        <h2>MAC Report Config</h2>
    </div>
</div>*@
<div id="content-wrap">
    <div class="gridContent myGrid" id="tegGrid"></div>
</div>

