@model ServiceTRAX.Models.ViewModels.ServiceTRAXPageViewModel
@using ServiceTRAX.Identity

@{
    ViewData["Title"] = "Resources";
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 140px;
            right: 20px;
            bottom: 70px;
        }
    </style>
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js?1"></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>

    <script type="text/javascript">

        let gridParameters = () => ({ ORGANIZATION_ID: @Model.OrganizationID, CURRENT_USER_ID: @User.GetUserID() });
        let gridEvents = {
          afterCreatedNewRecord: function (newDataRow) {
                // Set the Row organizationID value so the filtered dropdowns can work
                newDataRow["ORGANIZATION_ID"] = @Model.OrganizationID;
            }
        };
        let oGrid = new clsMyGrid('Resources', document.getElementById('tegGrid'), null, gridEvents, true, gridParameters());

    </script>

}

@*<div class="row">
        <div class="col-12 mt-3">
            <h2>RESOURCES</h2>
        </div>
    </div>*@
<div id="content-wrap">
    <div class="gridContent myGrid" id="tegGrid"></div>
</div>

