<!-- ko with:documentSignatureDialog -->
<div class="modal fade modal--forms" data-bind="showModal:isDialogDisplaying" id="docSignatureModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="docSignatureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" @*style="max-width: 600px"*@ role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">DOCUMENT SIGNING</h5>
                <button type="button" class="btn icon-only" data-bind="click:closeDialog">
                    <em class="fas fa-times"></em>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row mb-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <label>Delivered By</label>
                                    <input type="text" class="form-control" data-bind="textInput: deliveredBy" />
                                    <div class="help-block invalid-feedback" data-bind="validationMessage: deliveredBy"></div>
                                </div>
                                @*<div class="col-4 pl-1">
                                    <label>Delivered Date</label>
                                    <input type="date" class="form-control" data-bind="value: deliveredBySignedDate" />
                                    <div class="help-block invalid-feedback" data-bind="validationMessage: deliveredBySignedDate"></div>
                                </div>*@
                            </div>
                            <div class="row mt-3" data-bind="hidden:isForwardForSigningDisplaying">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <div class="d-flex flex-column">
                                                    <div>
                                                        <label>Received By</label>
                                                    </div>
                                                    <div class="d-flex">
                                                        <input type="text" class="form-control" data-bind="textInput: receivedBy" />
                                                        <button type="button" class="btn btn-primary ml-1 mt-0" data-bind="click:receivedBySigning" title="Forward Document by Email for signature...">
                                                            <em class="far fa-envelope"></em>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="help-block invalid-feedback" data-bind="validationMessage: receivedBy"></div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-4 pl-1">
                                            <label>Received Date</label>
                                            <input type="date" class="form-control" data-bind="value: receivedBySignedDate" />
                                            <div class="help-block invalid-feedback" data-bind="validationMessage: receivedBySignedDate"></div>
                                        </div>*@
                                    </div>
                                    <div class="row">
                                        <small class="col-12">Type name in text box above or tap Envelope button to receive an email with link for signature.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3 border rounded" data-bind="visible:isForwardForSigningDisplaying">
                        <div class="col-12 text-right">
                            <button type="button" class="btn icon-only" data-bind="click:receivedBySigning" title="Close Forward Email for Signature...">
                                <em class="fas fa-times"></em>
                            </button>
                        </div>
                        <div class="d-flex flex-column col-12 pb-3 px-3">
                            <label>
                                Forward to Email for Signature
                            </label>
                            <div class="d-flex">
                                <input type="email" class="form-control" data-bind="value: emailOfReceiver" />
                                @*<button type="button" class="btn btn-primary ml-2" data-bind="enable:emailSendEnable, click:emailDocForSignature" title="Send Email for Signature...">
                                        <em class="far fa-paper-plane"></em>
                                    </button>*@
                            </div>
                            <div class="help-block invalid-feedback" data-bind="validationMessage: emailOfReceiver"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-12 text-right">
                        <!-- ko ifnot: isForwardForSigningDisplaying -->
                        <button type="button" class="btn btn-primary " data-bind="enable:signButtonEnabled, click:signDocument">
                            SIGN DOCUMENT
                        </button>
                        <!-- /ko -->
                        <!-- ko if: isForwardForSigningDisplaying -->
                        <button type="button" class="btn btn-primary" data-bind="enable:emailSendEnable, click:emailDocForSignature">
                            <em class="far fa-paper-plane mr-2"></em>
                            EMAIL DOCUMENT
                        </button>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if:actionInProgress() ||  actionCompleted() -->
                <div class="row mt-5 border rounded mx-3">
                    <!-- ko if:actionInProgress -->
                    <div class="col-12 d-flex p-3">
                        <div>
                            <i class="fas fa-spinner fa-pulse mr-3"></i><span data-bind="text:actionInProgressDescription"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if:actionCompleted -->
                    <div class="col-12 d-flex flex-column p-3">
                        <div data-bind="text:actionCompletedDescription"></div>
                        <button type="button" class="btn btn-sm btn-outline-info px-3 mt-3 align-self-end" data-bind="click:closeDialogAfterSignature">
                            <em class="fas fa-times"></em> Close
                        </button>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->