@model ServiceTRAX.Models.ViewModels.ServiceTRAXErrorVM

<div class="mx-auto">
    <div class="row justify-content-center">
        <div class="col-6 p-5">
            <div class="card text-center mt-5 p-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-template">
                            <h1 class="mb-5 text-red">
                                Error!
                            </h1>
                            <h2 class="m-4">
                                @Model.ErrorTitle
                            </h2>
                            <div class="error-details mb-5">
                                @Model.ErrorDescription
                            </div>
                            <div class="error-actions mt-4">
                                <a  class="btn btn-primary " asp-action="Index"  asp-controller="Home" asp-route-OrganizationID=@Model.OrganizationID>
                                    <span class="fas fa-home mr-2"></span>
                                    Go Back To Home Page
                                </a>
                                @*<a href="#" class="btn btn-outline-success btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>