@model ServiceTRAX.Models.ViewModels.AccessDeniedModel
@using ServiceTRAX.Identity
@{
    ViewData["Title"] = "Access Denied";
}

<style type="text/css">

    .accessdeniedbk {
        background: repeating-linear-gradient( 45deg, #ffd800, #ffd800 10px, #000000 10px, #000000 20px );
    }
</style>

<div class="pt-5">
    <div class="jumbotron m-0 p-1 accessdeniedbk">
        <div class="jumbotron pb-1 mb-0" style="background-color: #eceab2fc">
            <h1 class="text-center"><em class="fas fa-ban fa-5x text-red" ></em></h1>
            <h1 class="text-center align-content-center">Whoops!</h1>
            <h2 class="card-subtitle my-4 text-center text-red">Access Denied</h2>
            <h6 class="text-center text-muted mt-5">This URL is valid but you are not authorized for this content.</h6>
            <p class="text-right small mt-5">You're logged as <strong>@User.Identity.FullName()</strong> (@User.Identity.Name)</p>
        </div>
    </div>
</div>
