@model ServiceTRAX.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login | ServiceTRAX - Powered by Omni Workspace Company</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/override/main-custom.css">
</head>

<style type="text/css">

    .login-alert-msg {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }


    .login-hero {
        background-image: url(/img/login-hero3.jpg);
    }

    .rounded-nice {
        border-radius: 0.7rem;
    }
</style>

<body class="bg-dark-blue bg-texture">
    <div id="content" class="">
        @if (!string.IsNullOrEmpty(ViewBag.AdditionalInformation))
        {
            <div class="alert alert-info mx-5 my-2">
                @ViewBag.AdditionalInformation
            </div>
        }
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="login-alert-msg mx-5 my-2">
                <h3>Login Failed!</h3>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(e => e.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <div class="container login-body">
            <div class="row justify-content-center">
                <div class="card col p-0 border-0 shadow-lg">
                    <div class="card-header login-hero">
                    </div>
                    <form id="account" method="post" class="p-4">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" asp-for="Username" class="form-control input_user" value="" placeholder="Enter User" required tabindex="1">
                        </div>
                        <div class="form-group mb-5">
                            <div class="row">
                                <label class="col-6">Password</label>
                                <a class="col-6 text-right small" href="" data-toggle="modal" data-target="#forgotPassword" title="Click here if you have forgotten your password.">Forgot your Password?</a>
                            </div>
                            <input type="password" asp-for="Password" class="form-control input_pass" value="" placeholder="Enter Password" required tabindex="2">
                        </div>
                        <button type="submit" class="btn btn-block btn-lg btn-primary mb-4 rounded-nice" tabindex="3">
                            <strong>LOGIN</strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-content--dark-blue">
                <div class="modal-body">
                    <div class="row">
                        <h2 class="col-12 text-center my-3">
                            Forgot your password
                        </h2>
                    </div>
                    <div class="row">
                        <h5 class="col-12 text-center text-muted my-2">
                            Enter your email address and we'll send you a link to reset your password
                        </h5>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col-12">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="offset-2 col-8 md-form form-group">
                                        <input type="text" id="userEmail" placeholder="Email" name="UserEmail" class="form-control mb-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="offset-3 col-6 btn btn-primary btn-lg btn-block mt-2 rounded-nice" type="submit">Send password reset email</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/main.js"></script>
    <script src="~/override/main-custom.js"></script>
</body>
