@model ServiceTRAX.Models.ViewModels.SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login | ServiceTRAX - Powered by Omni Workspace Company</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/override/main-custom.css">
</head>

<style type="text/css">

    .login-alert-msg {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }


    .login-hero {
        background-image: url(/img/login-hero3.png);
    }
</style>

<body class="bg-dark-blue bg-texture">
    <div id="content" class="">
        @if (Model.UserMsg?.Count() > 0)
        {
            <div class="alert alert-warning">
                <ul>
                    @foreach (var msg in Model.UserMsg)
                    {
                        <li>@msg</li>
                    }
                </ul>
            </div>
        }

        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="login-alert-msg">
                <h3>Login Failed!</h3>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(e => e.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <div class="container login-body">
            <div class="row justify-content-center">
                <div class="card col p-0 border-0 shadow-lg">
                    <div class="card-header login-hero">
                    </div>
                    <div class="text-center mt-3">
                        @if (Model.Action.Equals("FIRSTLOGIN", StringComparison.OrdinalIgnoreCase))
                        {
                            <h1>First Login</h1>
                        }
                        else if (Model.Action.Equals("PASSWORDRESET", StringComparison.OrdinalIgnoreCase))
                        {
                            <h1>Password Reset</h1>
                        }
                    </div>
                    <form id="account" asp-controller="Account" asp-action="SetPassword" method="post" class="p-4">
                        <input type="hidden" asp-for="PasswordResetToken">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" asp-for="Username" class="form-control input_user" placeholder="Enter User" readonly>
                        </div>
                        <div class="form-group">
                            <div class="text">
                            <label>Password Requirments:</label>
                            <ul>
                                <li>
                                  The password requires at least one number 
                                </li>
                                <li>
                                    The password requires at least one character in lowercase and one in uppercase
                                </li>
                                <li>
                                    The password requires at least one special character
                                </li>
                                <li> 
                                    The password must have more than 8 characters long
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" asp-for="NewPassword" class="form-control input_pass" value="" placeholder="Enter Password" required>
                        </div>
                        <div class="form-group mb-5">
                            <label>Password Confirmation</label>
                            <input type="password" asp-for="PasswordConfirm" class="form-control input_pass" value="" placeholder="Confirm Password" required>
                        </div>
                        <button type="submit" class="btn btn-block btn-lg btn-primary mb-4">
                            <strong>SET PASSWORD</strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/main.js"></script>
    <script src="~/override/main-custom.js"></script>
</body>
