@inject Microsoft.Extensions.Options.IOptions<SiteConfiguration> Configuration
@model ServiceTRAX.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<style type="text/css">
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 65%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .container:hover .overlay {
        opacity: 1;
    }
</style>

@section Scripts {

    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js'></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>

    <script type="text/javascript">

        $(function () {

            let model =  @Html.Raw(Json.Serialize(Model));
            console.log(model);


            //
            // Change Password Dialog
            //
            model.changePasswordDialog = {
                isDialogDisplaying: ko.observable(false),
                currentPwd: ko.observable(''),
                newPwd: ko.observable(''),
                newConfirmationPwd: ko.observable(''),
                passwordsMissmatch: ko.observable(false),
                outcomeScreenVisible: ko.observable(false),
                outcomeText: ko.observable(''),

                displayDialog: function () {
                    console.log(this);
                    this.isDialogDisplaying(true);
                    this.currentPwd('');
                    this.newPwd('');
                    this.newConfirmationPwd('');
                    this.passwordsMissmatch(false);
                    this.outcomeScreenVisible(false);
                },
                closeDialog: function () {
                    this.isDialogDisplaying(false);
                },
                changePwd: function () {
                    // Validate new password and confirmation match
                    if (this.newPwd() !== this.newConfirmationPwd()) {
                        this.passwordsMissmatch(true);
                        return false;
                    } else {
                        this.passwordsMissmatch(false);
                    }

                    // Call Account service to update password
                    postWrapper('/Account/ChangePassword', ko.toJSON({ 'current': this.currentPwd(), 'new': this.newPwd() }))
                        .then((r) => {
                            let result = r.value;
                            if (result.succeeded) {
                                // Logout and redirect to login with successfull change password message
                                $('#logout_afterpwdchange').submit();
                                this.isDialogDisplaying(false);
                            } else {
                                this.outcomeScreenVisible(true);
                                this.outcomeText(result.description);
                                return false;
                            }
                        });
                }
            }
            //
            //


            //
            // Profile Update
            //
            model.updateProfile = function () {

                let valid = $('#profile_details')[0].checkValidity();
                console.log('valid ',valid);
                //$('#profile_details').submit();
                //let update = {
                //    firstName: model.firstName(),
                //    middleName: model.middleName(),
                //    lastName: model.lastName(),
                //    email: model.email()
                //}

                //postWrapper('/Account/UserUpdate', ko.toJSON(update))
                //.then()
            }
            //
            //

            //
            //
            //
            ko.bindingHandlers.showModal = ServiceTRAXBindingHandlers.showModal;
            ko.applyBindings(model);
        });

    </script>
}

<form id="logout_afterpwdchange" asp-action="Logout" asp-controller="Account" method="post">
    <input type="hidden" name="additionalInformation" value="You password has been changed! Please login again using your new credentials." />
    @Html.AntiForgeryToken()
</form>



<div class="d-flex flex-row align-items-center mt-2">
    <h2>USER PROFILE</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-10">
            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col">
                            <strong>@Model.User.UserName</strong>
                        </div>
                        <div class="col text-right">
                            @string.Join(',', Model.Roles)
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-row mb-3">
                                <div class="col-xs-12 col-md-3">
                                    <div class="container">
                                        <form id="upload_imageform" asp-controller="Account" asp-action="UserImage"
                                              enctype="multipart/form-data"
                                              method="post">
                                            <label for="FileUpload_FormFile">
                                                <img src="~/UserPhotos/@(Model.User.UserPhoto ?? Configuration.Value.DefaultUserPhoto)" alt="Avatar" class="img-thumbnail image">
                                                <span class="overlay">Click to upload<br />a new image<br /> </span>
                                            </label>
                                            <input id="FileUpload_FormFile" type="file" name="file" style="display:none" onchange="form.submit()" />
                                            <input type="hidden" name="LoggedOrganizationID" data-bind="value:organizationID" />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <form id="profile_details" asp-controller="Account" asp-action="UserUpdate" method="post">
                                        <div class="form-row mb-3">
                                            <input type="hidden" name="LoggedOrganizationID" data-bind="value:organizationID" />
                                            <div class="col-xs-12 col-lg-4">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="FirstName" data-bind="value:user.firstName" required />
                                            </div>
                                            <div class="col-xs-12 col-lg-4">
                                                <label>Middle Name</label>
                                                <input type="text" class="form-control" name="MiddleName" data-bind="value:user.middleName" />
                                            </div>
                                            <div class="col-xs-12 col-lg-4">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="LastName" data-bind="value:user.lastName" required />
                                            </div>
                                        </div>
                                        <div class="form-row mb-3">
                                            <div class="col-12">
                                                <label>Email</label>
                                                <input type="email" class="form-control" name="Email" data-bind="value:user.email" />
                                            </div>
                                        </div>

                                        <div class="form-row mb-3">
                                            <div class="col-xs-12 col-md-6">
                                                <button type="button" class="btn btn-warning btn-block" data-bind="click:() => changePasswordDialog.displayDialog()">CHANGE PASSWORD</button>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-green">UPDATE PROFILE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ko with:changePasswordDialog -->
<div class="modal fade modal--forms mt-5" data-bind="showModal:isDialogDisplaying" id="changePasswordDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="changePasswordDialogLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto" id="changePasswordDialogLabel">
                    CHANGE PASSWORD
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                          <div class="form-row mb-3">
                            <div class="col">
                            <label>Password Requirments:</label>
                            <ul>
                                <li>
                                  The password requires at least one number 
                                </li>
                                <li>
                                    The password requires at least one character in lowercase and one in uppercase
                                </li>
                                <li>
                                    The password requires at least one special character
                                </li>
                                <li> 
                                    The password must have more than 8 characters long
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-row mb-3">
                            <div class="col">
                                <label>Current Password</label>
                                <input type="password" class="form-control" data-bind="value:currentPwd" />
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col">
                                <label>New Password</label>
                                <input type="password" class="form-control" data-bind="value:newPwd" />
                                <div class="help-block invalid-feedback" data-bind="visible:passwordsMissmatch">Passwords don't match</div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" data-bind="value:newConfirmationPwd" />
                                <div class="help-block invalid-feedback" data-bind="visible:passwordsMissmatch">Passwords don't match</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block" data-bind="click:changePwd">CHANGE MY PASSWORD</button>
                    </div>
                    <div class="col-6 pl-3">
                        <button type="button" class="btn btn-warning btn-block" data-bind="click:closeDialog">CANCEL</button>
                    </div>
                </div>
                <div class="form-row mt-5 mb-3" data-bind="visible:outcomeScreenVisible">
                    <div class="col-2">
                        <i class="fas fa-exclamation-triangle fa-2x px-3" style="color:red"></i>
                    </div>
                    <div class="col-10">
                        <div data-bind="text:outcomeText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->