@{
    ViewData["Title"] = "Edit Grid Sample";

}

<style>
    .gridContent {
        position: absolute;
        border: solid 1px #c0c0c0;
        left: 20px;
        top: 250px;
        right: 20px;
        bottom: 60px;
    }
</style>


<div id="content-wrap">
    <div class="gridContent myGrid"></div>
</div><!--/content-wrap-->


@section scripts {


    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js?1"></script>

    <script type="text/javascript">

        var gridName = 'aspnetusers';
        var oGrid = null;

        $(document).ready(function () {
            //window.alert = function () {
            //    debugger;
            //}

            $('.myGrid').each(function () {
                oGrid = new clsMyGrid(gridName, this, null, {
                    created: function () {
                        $(document)[0].title = oGrid.config.title;
                    }
                });
            });
        });
    </script>

    @*<script src="~/js/editgrid/editgrid.js"></script>*@
}