<!-- ko with:customColumnPVEditor -->
<div class="modal fade modal--forms" id="CustomColumnPVEditorModal" data-bind="showModal:isDialogDisplaying"
     tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="CustomColumnPVEditorModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto ucase">Edit '<span data-bind="text:cleanFieldName(customField().customFieldName)"></span>' Custom Field Values</h5>
                <button type="button" class="btn icon-only" data-bind="click:closeDialog">
                    <em class="fas fa-times"></em>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="w-100" style="height: 35vh; overflow-y: scroll; background-color:#fff">
                        <table class="custom-fields-table w-100">
                            <tbody>
                                <!-- ko foreach:dropOptions-->
                                <tr>
                                    <!-- ko ifnot:id===$parent.selectedValueId() -->
                                    <td data-bind="text:name, click:() => $parent.selectValue($data)"></td>
                                    <!--/ko-->
                                    <!-- ko if:id===$parent.selectedValueId() -->
                                    <td class="selected" data-bind="text:name, click:() => $parent.selectValue(null)"></td>
                                    <!--/ko-->
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-column ml-3 mt-2">
                        <button type="button" class="btn btn-green float-right px-3 mb-1" data-bind="enable:insertEnable(), click:openInsertMode"
                                title="Create a new value...">
                            <em class="fas fa-plus"></em>
                        </button>
                        <button type="button" class="btn btn-green float-right px-3 mb-5" data-bind="enable:updateEnable(), click:() => editionMode(true)"
                                title="Update selected value...">
                            <em class="fas fa-pencil-alt"></em>
                        </button>
                        <button type="button" class="btn btn-green float-right px-3 mb-1" data-bind="enable:upDownEnable(), click:moveUp">
                            <em class="fas fa-arrow-up"></em>
                        </button>
                        <button type="button" class="btn btn-green float-right px-3 mb-5" data-bind="enable:upDownEnable(), click:moveDown">
                            <em class="fas fa-arrow-down"></em>
                        </button>
                        <button type="button" class="btn btn-green float-right px-3 mb-1" data-bind="enable:upDownEnable(), click:deleteOption">
                            <em class="fas fa-trash"></em>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- ko if:editionMode -->
                <hr style="border-color:#fff" />
                <div class="d-flex align-items-end my-3">
                    <div class="col-5">
                        <label for="updateValueInput">Update Value</label>
                        <input id="updateValueInput" class="form-control" type="text" data-bind="value:selectValueText" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-green rounded mr-2" data-bind="click:() => updateValue()"> UPDATE</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-red rounded" data-bind="click:() => editionMode(false)"> CANCEL</button>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:insertMode -->
                <hr style="border-color:#fff" />
                <div class="d-flex align-items-end my-3">
                    <div class="col-5">
                        <label for="newValueInput">New Value</label>
                        <input id="newValueInput" class="form-control" type="text" data-bind="value:selectValueText" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-green rounded mr-2" data-bind="click:() => insertValue()"> INSERT</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-red rounded" data-bind="click:() => insertMode(false)"> CANCEL</button>
                    </div>
                </div>
                <!-- /ko -->
                @*<div class="row mt-4">
                        <div class="col-12 ml-auto">
                        </div>
                    </div>*@

                @*<div class="row mt-4" data-bind="visible:actionMessageBox.visible" style="display: none">

                        <div class="col-12">
                            <div class="alert alert-primary" role="alert" data-bind="visible:actionMessageBox.spinner" style="display: none">
                                <div class="d-flex align-items-center">
                                    <div class="spinner-grow" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div data-bind="text:actionMessageBox.text"></div>
                                </div>
                            </div>

                            <div class="alert alert-primary" role="alert" data-bind="visible:actionMessageBox.outcomevisible" style="display: none">
                                <div data-bind="text:actionMessageBox.outcometext"></div>
                            </div>
                        </div>

                    </div>*@
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
