<style>
	.form-control-print {
		font-weight: 900;
		font-size: 1.3rem;
	}
</style>
<div id="content" class="hotsheet-printer-content">
    <div class="container-fluid" id="hotSheet">
        <div class="row">
            <div class="col mb-0">
                <h2>HOT SHEET</h2>
                <h4>
                    <small class="text-muted"><span data-bind="text: hotsheet_Identifier"></span></small>
                </h4>
            </div>
        </div>
        <div class="row">
			<div class="col-12 p-0">
				<form novalidate>
					<div id="hotsheet-header">		
						<div class="row">
							<div class="col-12">
								<div class="form-row">
									<div class="col">
										<h5 class="mb-1">HEADER</h5>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-row mb-3">
									<div class="col-6">
										<div class="form-group">
											<label for="shjobname">
												Job Name
											</label>
											<input type="text" class="form-control fix-col-print-width form-control-print" id="shjobname" data-bind="value: jobName" readonly />
										</div>
										<div class="form-group">
											<label>Customer Name</label>
											<input type="text" class="form-control fix-col-print-width form-control-print" data-bind="value: customerName" readonly />
										</div>
										<div class="form-group">
											<label>End User Name</label>
											<input type="text" class="form-control form-control-print" data-bind="value: endUserName" readonly />
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>Sales Contact</label>
											<input type="text" class="form-control form-control-print" data-bind="value: salesContact" readonly />
										</div>
										<div class="form-group">
											<label>PO #</label>
											<input type="text" class="form-control form-control-print" data-bind="value: poNo" readonly />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-minus">
						<div class="col pr-0">
							<div class="h-100 bdr-btm" id="hotsheet-OriginAddress">

								<div class="form-row mb-0">
									<div class="col-12">
										<h5 class="mb-1">ORIGIN ADDRESS</h5>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label>
												Company
											</label>
											<select data-style="btn-white shadow-sm"
													data-live-search="true"
													data-bind="selectPicker:true, options: origLocations, optionsText: locationOptionFormatter, optionsValue: 'job_location_id', value: $root.origLocationID, disable:isReadOnly"
													data-none-selected-text="...">
											</select>
										</div>
										<div class="form-group">
											<label>
												Address
											</label>
											<input type="text" class="form-control  form-control-print" data-bind="value: $root.origAdd" readonly />
										</div>
										<div class="form-group mb-1">
											<label>
												City
											</label>
											<input type="text" class="form-control  form-control-print" data-bind="value: $root.origCity" readonly />
										</div>
									</div>
								</div>
								<!-- ko foreach: hotSheetOriginContacts -->
								<div class="form-row mb-3">
									<div class="col-6">
										<div class="form-group">
											<label>
												Contact
											</label>
											<select data-style="btn-white shadow-sm"
													data-bind="selectPicker:true, options: $root.remainingOriginContacts($data.contact_ID), optionsText: 'contact_Name', optionsValue: 'contact_ID', value: contact_ID, disable:$root.isReadOnly"
													data-none-selected-text="...">
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>Phone</label>
											<input type="text" class="form-control  form-control-print" data-bind="value: $root.allOriginContacts().find(c => c.contact_ID === $data.contact_ID()).contact_Phone" readonly />
										</div>
									</div>
								</div>
								<!-- /ko -->
								<!-- ko ifnot:isReadOnly -->
								<!-- /ko -->
							</div>
						</div>
						<div class="col ml-minus pl-0 pr-0">

							<div class="h-100 bdr-btm" id="hotsheet-DestinationAddress">
								<div class="form-row">
									<div class="col-12">
										<h5 class="mb-1">DESTINATION ADDRESS</h5>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label>
												Customer
											</label>
											<select data-style="btn-white shadow-sm"
													data-bind="selectPicker:true, options: jobLocations, optionsText: 'job_location_name', optionsValue: 'job_location_id', value: $root.jobLocationID, disable:isReadOnly"
													data-none-selected-text="...">
											</select>
										</div>
										<div class="form-group">
											<label>
												Address
											</label>
											<input type="text" class="form-control  form-control-print" data-bind="value: $root.destAdd" readonly />
										</div>
										<div class="form-group mb-1">
											<label>
												City
											</label>
											<input type="text" class="form-control  form-control-print" data-bind="value: $root.destCity" readonly />
										</div>
									</div>
								</div>
								<!-- ko foreach: hotSheetDestinationContacts-->
								<div class="form-row mb-3">
									<div class="col-6">
										<div class="form-group">
											<label>
												Contact
											</label>
											<select data-style="btn-white shadow-sm"
													data-bind="selectPicker:true, options: $root.remainingDestinationContacts($data.contact_ID), optionsText: 'contact_Name', optionsValue: 'contact_ID', value: contact_ID, disable:$root.isReadOnly"
													data-none-selected-text="...">
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>Phone</label>
											<input type="text" class="form-control form-control-print" data-bind="value:  $root.allDestinationContacts().find(c => c.contact_ID === $data.contact_ID()).contact_Phone" readonly />
										</div>
									</div>
								</div>
								<!-- /ko -->
										<!-- ko ifnot:isReadOnly-->
										<!-- /ko -->
							</div>
						</div>

						<div class="col ml-minus pl-0">
							<div class="h-100 bdr-btm" id="hotsheet-Dates">
								<div class="form-row">
									<div class="col-12">
										<h5 class="mb-1">WORK DATES</h5>
									</div>
									<div class="col-12">
										<div class="form-row mb-3">
											<div class="col-12">
												<div class="form-group">
													<label>
														Schedules
													</label>
													<select data-style="btn-white shadow-sm"
															data-bind="selectPicker:true, options: hotSheetRequestSchedules, optionsText: 'requestScheduleDisplayValue', optionsValue: 'requestScheduleId', value: dateData.requestScheduleId, disable:$root.isReadOnly, valueAllowUnset: true"
															data-none-selected-text="...">
													</select>
												</div>
											</div>
										</div>
										<div class="form-row mb-3">
											<div class="col-6">
												<div class="form-group">
													<label for="date">
														Date
													</label>
													<div class="input-group" id="triggerworkDate">
														<input type="text" class="form-control form-control-print"
															   autocomplete="off"
															   id="workDate"
															   data-bind="datepicker: workDate, datepickerOptions: { trigger: '#triggerworkDate' }"
															   required />
													</div>
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<label for="date">
														Job Length (hs)
													</label>
													<input type="text" class="form-control form-control-print" data-bind="value: dateData.jobLength" />
												</div>
											</div>

										</div>
										<div class="form-row mb-3">
											<div class="col-6">
												<div class="form-group">
													<label for="date">
														Warehouse Start
													</label>
													<input type="time" class="form-control form-control-print" data-bind="value: $root.dateData.warehouseStartTime" />
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<label for="date">
														On Site Start
													</label>
													<input type="time" class="form-control form-control-print" data-bind="value: $root.dateData.onSiteStartTime" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bdr-btm" id="hotsheet-VehicleEquipment">					
						<div class="row">
							<div class="col-12">
								<div class="form-row">
									<div class="col-12">
										<h5 class="mb-1">Vehicle, Equipment &amp; Positions</h5>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="form-row mb-3">
									<div class="col-6">
										<label>Equipment</label>
									</div>
									<div class="col-3">
										<label>Out</label>
									</div>
									<div class="col-3">
										<label>In</label>
									</div>
								</div>
								<!-- ko if: $root.savedEquipment().length > 0 -->
								<!-- ko foreach: $root.savedEquipment -->
								<div class="form-row align-items-center mb-3">
									<div class="col-6">
										<!-- ko if: equipmentID() === -1 -->
										<input type="text" class="form-control form-control-print" data-bind="value: equipmentName" />
										<!-- /ko -->
										<!-- ko if: equipmentID() != -1 -->
										<select data-style="btn-white shadow-sm"
												data-bind="selectPicker:true, options: $root.equipment, optionsText: 'equipmentName', optionsValue: 'equipmentID', value: equipmentID, disable:$root.isReadOnly">
										</select>
										<!-- /ko -->
									</div>
									<div class="col-3">
										<div class="align-items-center">
											<input type="number" class="form-control form-control-print" min="0" data-bind="value: equipmentOUT, disable:$root.isReadOnly" onclick="select()" />
										</div>
									</div>
									<div class="col-3">
										<div class="align-items-center">
											<input type="number" class="form-control form-control-print" min="0" data-bind="value: equipmentIN, disable:$root.isReadOnly" onclick="select()" />
										</div>
										<!-- ko ifnot:$root.isReadOnly-->
										<!-- /ko -->
									</div>
								</div>
								<!-- /ko -->
								<!-- /ko -->
								<!-- ko ifnot:isReadOnly-->
								<!-- /ko -->
							</div>
							<div class="col-4">
								<div class="form-row">
									<div class="col-6">
										<label>Vehicle</label>
									</div>
									<div class="col-6">
										<label>Qty</label>
									</div>
								</div>
								<!-- ko if: $root.savedVehicle().length > 0 -->
								<!-- ko foreach: $root.savedVehicle -->
								<div class="form-row align-items-center mb-3">
									<div class="col-8">
										<select data-style="btn-white shadow-sm"
												data-bind="selectPicker:true, options: $root.vehicles, optionsText: 'vehicleName', optionsValue: 'vehicleID', value: vehicleID">
										</select>
									</div>
									<div class="col-4">
										<input type="number" class="form-control form-control-print" min="0" data-bind="value: vehicleQTY" onclick="select()" />
									</div>
								</div>
								<!-- /ko -->
								<!-- /ko -->
								<!-- ko ifnot:isReadOnly-->
								<!-- /ko -->
							</div>

							<div class="col-4">
								<div class="form-row mb-3">
									<div class="col-8">
										<label>Position</label>
									</div>
									<div class="col-4">
										<label>Qty</label>
									</div>
								</div>
								<div class="form-row mb-3">
									<div class="col-8" style="align-self: center;">
										<input type="text" class="form-control form-control-print" value="LEAD" readonly />
									</div>
									<div class="col-4">
										<input type="number" class="form-control form-control-print" data-bind="value: dateData.leadQty" readonly />
									</div>
								</div>
								<div class="form-row mb-3">
									<div class="col-8" style="align-self: center;">
										<input type="text" class="form-control form-control-print" value="DRIVER" readonly />
									</div>
									<div class="col-4">
										<input type="number" class="form-control form-control-print" data-bind="value: dateData.driverQty" readonly />
									</div>
								</div>
								<div class="form-row mb-3">
									<div class="col-8" style="align-self: center;">
										<input type="text" class="form-control form-control-print" value="INSTALLER" readonly />
									</div>
									<div class="col-4">
										<input type="number" class="form-control form-control-print" data-bind="value: dateData.installerQty" readonly />
									</div>
								</div>
								<div class="form-row mb-3">
									<div class="col-8" style="align-self: center;">
										<input type="text" class="form-control form-control-print" value="MOVER" readonly />
									</div>
									<div class="col-4">
										<input type="number" class="form-control form-control-print" data-bind="value: dateData.moverQty" readonly />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bdr-btm" id="hotsheet-Instructions">
						<div class="row mt-minus">
							<div class="col-12">
								<div class="form-row">
									<div class="col">							
										<h5 class="mb-1">SPECIAL INSTRUCTIONS</h5>
									</div>
								</div>
							</div>
							<div class="col-12 mb-3">
								<div class="form-row">
									<div class="col-12">				
										<div data-bind="html:specialInstructions"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bdr-btm" id="hotsheet-scopeWork">
						<div class="row mt-minus">
							<div class="col-12">
								<div class="form-row">
									<div class="col-12">
										<h5 class="mb-1">SCOPE OF WORK</h5>
									</div>
								</div>
							</div>
							<div class="col-12 mb-3">
								<div class="form-row">
									<div class="col-12 mb-3">
										<span class="disabled-editor" data-bind="trumbowyg: description, trumbowygOptions: { disabled: true }"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="" id="hotsheet-auditInformation">
						<div class="row mt-minus">
							<div class="col-12">
								<div class="form-row">
									<div class="col-12">
										<h5 class="mb-1">AUDIT INFORMATION</h5>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-row mb-3">
									<div class="col-4">
										<div class="form-group">
											<label>Date Created</label>
											<input type="datetime" class="form-control form-control-print" data-bind="value: dateCreated() != null ? moment(dateCreated()).format('MMMM Do YYYY, h:mm:ss a') : ''" readonly />
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<label>Created By</label>
											<input type="text" class="form-control form-control-print" data-bind="value: createdBy" readonly />
										</div>
									</div>
								</div>
								@*<div class="form-row mb-3">
									<div class="col-4">
										<div class="form-group">
											<label>Date Modified</label>
											<input type="datetime" class="form-control" data-bind="value: dateModified" readonly />
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<label>Modified By</label>
											<input type="text" class="form-control" data-bind="value: modifiedBy" readonly />
										</div>
									</div>
								</div>*@
							</div>
						</div>
					</div>
					<div class="hotsheet-printer-content disclaimer pagebreak">
						<div class="form-row mt-4">
							<div class="col-12">
								<h2>Emerald City Moving and Storage LLC</h2>
							</div>
							<div class="col-12 my-3">		
								<h3>Additional contract terms and conditions</h3>
								<ol>
									<li><strong>Payment Terms</strong>. The Customer (the Shipper) and the Consignee shall each be responsible for payment to Emerald City (the Carrier) in accordance with the contract or applicable tariff. Payment is due on the date of delivery of the property. If Shipper fails to make payment in full within 10 days after the date of delivery, Shipper shall pay a late charge equal to 5% of the unpaid amount. Payments more than 30 days after delivery date shall incur interest of 2% of the unpaid amount per month, compounded monthly, until the unpaid balance is paid in full. Carrier may begin collections proceedings for the unpaid balance against the Shipper any time after 30 days from the date of delivery.</li>
									<li><strong>Time and Equipment Charges</strong>. In the even this agreement for moving or storage services is for a specific charge (fixed bid), and the Shipper asks for additional services at the time of the shipment, those services shall be based upon amount of time, materials and equipment at the Carrier's standard rates. An agreement for moving or storage services that is not for a specific amount but based upon the amount of time, materials, and equipment shall include travel time at the contract rate from Carrier's facility to and from the place of origination and destination. </li>
									<li><strong>Prevailing Wage</strong>. The estimated price for services provided to the Customer is based upon Emerald City's usual and customary wage rates, which may be different from the rates set by state or federal "prevailing wage" regulations. If it is determined that for any reason the "prevailing wage" regulations apply to the Emerald City workings, the Customer agrees to reimburse Emerald City for any additional compensation expenses. Emerald City agrees to invoice the Customer promptly and will not add a profit margin or administrative charge to the additional worker compensation.</li>
									<li><strong>Limitations on Carrier Liability</strong>. The Carrier shall be liable for physical loss of or damage from external cause while being carried or held in storage-in-transit (subject to paragraph 5) except for conditions of flavor of perishable articles and except documents, blank bills, notes, currency, money postage stamps, letters or valuable papers of any kind, jewelry, furs, watches, precious stones or metals or other articles of particularly inherent or extraordinary value which are not specifically listed on the bill of lading. Further, there shall be no liability for loss or damage cause by or resulting from:
										<ol type="a" style="list-style-type: lower-alpha;">
											<li>An active, omission or orders of Customer;</li>
											<li>Acts of of god;</li>
											<li>Defect or inherent vice of the goods, including damage due to atmospheric conditions such as temperature and humidity;</li>
											<li>Insects, moth, vermin, other animals, and ordinary wear and tear;</li>
											<li>Loss or damage caused by inclusion in the
												shipment of explosives or dangerous articles or property, for which the
												Customer shall indemnify and hold Emerald City harmless;</li>
											<li>Delayed delivery for reasons beyond the control
												of Emerald City. The delivery time and date stated on the above is an estimate.
												Actual delivery timing will depend upon the readiness of the Customer, packing
												delays, traffic, weather, and other factors;</li>
											<li>Hostile action in time of peace or war,
												including any terrorist or warlike act, insurrection, rebellion, civil war, usurped
												power, labor disturbances, riots, civil commotion or
												any action by any governmental authority in combating or defending against such
												an occurrence, or any confiscation by order of any governmental authority, or
												acts against illegal transportation or trade:</li>
											<li>Breakage of china,
												glassware, bric-a-brac or similar articles of a brittle or fragile nature
												unless packed by Emerald City or unless such breakage results from negligence
												of Emerald City.</li>
										</ol>
									</li>	  
									<li><strong>Carrier's Maximum Liability for Damage or Loss</strong>. Carrier shall repair or replace the Shipper's property due to damage or loss, with the limitation as follows:
										<ol type="a" style="list-style-type: lower-alpha;">
											  <li>If Shipper has elected Basic Value Coverage, the
												Carrier's maximum liability shall be limited to the actual damage or loss not
												exceeding sixty (60) cents per pound of the weight of any lost or damaged
												articles.</li>
											  <li>If Shipper has elected Non-Depreciated Value
												Coverage, the Carrier's maximum liability shall be the cost of repair or
												replacement no exceeding the Shipper's declared value. </li>
											  <li>If the Shipper does not sign the Damage
												Valuation Declaration, Shipper's coverage for damage or loss to property shall
												be valued at Basic Value Coverage and Carrier's liability shall be limited to
												the actual damage or loss not exceeding sixty (60) cents per pound of the
												weight of any damaged or lost articles. </li>
											  <li>The Customer/Shipper agrees the Carrier shall
												not be liable for any incidental, contingent, special, consequential or commercial damages arising from the services or transportation provided.
												This limitation shall apply to all claims of loss including but not limited to
												loss of use, loss of profits, loss, damage or injury to any person or property,
												fines or other damages beyond repair or replacement of the articles in
												accordance with the above paragraphs. The Customer/Shipper accepts the risk of
												loss and agrees to rely only upon its business interruption or other insurance,
												to the extent available. This limitation shall apply even if the possibility of
												such damages is or was foreseeable by the parties. </li>	  
										</ol>
									</li>
									<li><strong>Claims by Shipper</strong>. Shipper must deliver a claim for loss or damage in writing with the Carrier within 30 days after delivery of the shipment. Shipper agrees this short period is necessary for the Carrier to investigate the claim properly and to prevent spoilation of evidence and that delay beyond 30 days will harm the Carrier's ability to investigate and defend such claim.</li>
									<li><strong>Delays</strong>. The Carrier shall not be liable for delay caused by highway obstruction, or lack of capacity of any highway, bridge or ferry, or caused by breakdown or mechanical defects of non carrier vehicles or equipment, or from any cause other than negligence of Carrier, nor shall carrier by bound to transport by any particular schedule, means or vehicle. Carrier shall have the right in case of physical necessity to forward the property by any Carrier or route between the point of shipment and the point of destination.</li>
									<li><strong>Undeliverable Articles</strong>. If Carrier cannot make delivery at the address of Consignee for any reason other than Carrier's sole fault, then Carrier at its option may store the property in a warehouse at a location convenient to Carrier. The Shipper agrees that the property shall be stored at the cost of the Shipper and subject to a warehousemen's lien for applicable storage charges.</li>
									<li><strong>Failure to Claim or Pay for Shipment</strong>. Carrier may sell the Shipper's property at public auction to highest bidder for cash at a public sale to be held at a time and place named by Carrier, if (a) Consignee refuses to accept the shipment at destination, (b) Shipper or Consignee fails to receive or claim it within fifteen days after Carrier mails written notice to Shipper and Consignee at addresses shown on face hereof, or (c) Shipper fails or refuses to pay lawfully applicable charges. Carrier shall give thirty days prior written notice to Shipper and Consignee and shall publish notice at least once a week for two consecutive weeks in a newspaper or general circulation at or near the place of sale, such notice containing a description of the property as described in the bill of lading and the names of the Shipper and Consignee. The proceeds of any sale shall be applied first toward payment of applicable shipping charges and expenses of notice, advertising and sale, and of storing and caring for the property prior to sale, and the balance, if any, shall be paid to the Shipper. Provided, that any perishable articles may be sold at public or private sale without such notices, if in the opinion of Carrier such action is necessary to prevent deterioration.</li>
									<li><strong>Legal Action</strong>. This agreement shall be interpreted in accordance with Washington law and the venue for any disputes shall be King County Superior Court in Seattle, Washington. If any party engages the services of an attorney to enforce the terms of the Agreement or for any dispute arising out of this Agreement, the non-prevailing party shall pay to the prevailing party the full, actual cost of attorney fees, court costs and other litigation expenses incurred. For the purposes of an award of attorneys fees, the phrase "prevailing party" shall be defined in RCW 4.84.250 through RCW 4.84.280, without regard to the monetary limitations of those sections.</li>
								</ol>							
							</div>
						</div>
					</div>
				</form>			
			</div>
		</div>
    </div>
</div>

@await Html.PartialAsync("_NewContact")
