@model ServiceTRAX.ViewComponents.WidgetOpenSRsAssignedToMeViewComponent.WidgetOpenSRsAssignedToMeViewComponentViewModel

<style type="text/css">
    .card-borders {
        margin: 5px;
        height: 96%;
    }

    .quote-count-text {
        font-size: 8em;
    }

    .centered-counter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
</style>



<div class="card card-borders">
    <div class="card-body">
        <div class="centered-counter">
            <p class="text-center quote-count-text">@Model.SRs</p>
            <a asp-controller="Request"
               asp-action="OpenSRAssignedToMe"
               asp-route-OrganizationID="@Model.OrganizationID">
                <h4 class="text-center"><strong>Jobs I'm Scheduled To</strong></h4>
            </a>
        </div>
    </div>
</div>









