@model ServiceTRAX.ViewComponents.WidgetOpenQuotesViewComponent.WidgetOpenQuotesViewComponentViewModel

<style type="text/css">
    .card-borders {
        margin: 5px;
        height: 96%;
    }

    .quote-count-text {
        font-size: 8em;
    }

    .centered-counter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
</style>



<div class="card card-borders">
    <div class="card-body">
        <div class="centered-counter">
            <p class="text-center quote-count-text">@Model.Quotes</p>
            <h4 class="text-center"><strong>Open Quotes For User</strong></h4>
        </div>
    </div>
</div>
