@model ServiceTRAX.ViewComponents.WidgetNotClockedOut.WidgetNotClockedOutViewModel

<style type="text/css">
    .wnco-card-borders {
        margin: 5px;
        height: 96%;
    }

    .wnco-count-text {
        font-size: 8em;
    }

    .wnco-centered-counter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>



<div class="card wnco-card-borders">
    <div class="card-body">
        <div class="wnco-centered-counter">
            <p class="text-center wnco-count-text ">@Model.NotClockedOutCount</p>
            <a asp-controller="TimeEntry" asp-action="ClockedInNotClockedOut"
               asp-route-OrganizationID="@Model.OrganizationID">
                <h4 class="text-center"><strong>Clocked In, Not Clocked Out</strong></h4>
            </a>
        </div>
    </div>
</div>
