<script type="text/html" id="up-down-resource-template">
    <div class="col-4 mb-3 px-1">
        <div class="col-12">
            <label data-bind="text:name, attr: {title: name}" class="text-truncate mb-0 w-100"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="input-group-text btn-orange" data-bind="click: function() { if(quantity() > qtyAssigned) { quantity(quantity() -1); } }"><em class="fas fa-minus"></em></button>
                </div>
                <input type="text" class="form-control" data-bind="value:quantity()">
                <div class="input-group-append">
                    <button class="input-group-text btn-orange" data-bind="click: function() { quantity(quantity() + 1); }"><em class="fas fa-plus"></em></button>
                </div>
            </div>
        </div>

    </div>
</script>

<!-- ko with:editJobModal -->
<div class="modal fade" id="EditJob" tabindex="-1" data-backdrop="static" data-bind="showModal:roleAndQuantitiesDialogShown">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header align-items-center">
                <h4 class="p-0 m-0"><em class="fas fa-edit mr-2"></em> Edit Job</h4>
                <button type="button" class="btn icon-only" data-bind="click:closeDialog">
                    <em class="fas fa-times"></em>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <label for="editJobStartDate">
                                    Start Date
                                </label>
                                <div class="input-group" id="editJobStartDate">
                                    <input type="text"
                                           id="inputJobStartDate"
                                           class="form-control"
                                           autocomplete="off"
                                           data-bind="datepicker: jobStartDate, datepickerOptions: { trigger: '#editJobStartDate', zIndex: 2000 }"
                                           required />
                                    <div class="input-group-append simulate-button">
                                        <span class="input-group-text input-group-append-custom">
                                            <i class="fas fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="editJobEndDate">
                                    End Date
                                </label>
                                <div class="input-group" id="editJobEndDate">
                                    <input type="text"
                                           id="inputJobEndDate"
                                           class="form-control"
                                           autocomplete="off"
                                           data-bind="datepicker: jobEndDate, datepickerOptions: { trigger: '#editJobEndDate', zIndex: 2000 }"
                                           required />
                                    <div class="input-group-append simulate-button">
                                        <span class="input-group-text input-group-append-custom">
                                            <i class="fas fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex flex-column">
                            <div>
                                <label for="editJobHours">
                                    Hrs/Shift
                                </label>
                                <input type="number" step=".25" name="editJobHours" class="form-control" data-bind="enable:applyHrsShiftValue, value:jobHrsPerShift" />
                            </div>
                            <div>
                                <div class="magic-checkbox-wrapper" title="Set this checkbox to apply Hrs/Shift on Job save...">
                                    <input class="magic-checkbox" type="checkbox" id="applyHrsShiftChange" data-bind="checked: applyHrsShiftValue" />
                                    <label for="applyHrsShiftChange"><small>Set Hrs/Shift</small></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-3">
                    <div class="col-12">
                        <label># of Crew Resources needed by role</label>
                    </div>
                    <!-- ko foreach: dayRoleAndQuantitiesCrew() -->
                    <!-- ko template: {name: 'up-down-resource-template'} -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>

                <!-- ko if:dayRoleAndQuantitiesVehicles().length > 0-->
                <div class="row mb-3">
                    <div class="col-12">
                        <label># of Vehicles needed</label>
                    </div>
                    <!-- ko foreach: dayRoleAndQuantitiesVehicles() -->
                    <!-- ko template: {name: 'up-down-resource-template'} -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!-- ko ifnot:displayDateChangeConfirmation -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="disable:savingChanges, click:saveChanges">SAVE</button>
                <button type="button" class="btn btn-warning" data-bind="click:closeDialog">CANCEL</button>
            </div>
            <!-- /ko -->
            <!-- ko if:displayDateChangeConfirmation -->
            <div class="modal-footer">
                <label style="color:orangered !important" class="mb-3">You are modifying the start/end dates of the Job, so schedule records will be deleted as needed, if the job's start date is pushed out or the end date is brought in.</label>
                <button type="button" class="btn btn-primary" data-bind="disable:savingChanges, click:saveChanges">UNDERSTOOD, GO AHEAD</button>
                <button type="button" class="btn btn-warning" data-bind="click:closeDialog">CANCEL</button>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->