<div class="modal fade modal--forms" id="AddActivityModal" data-bind="showModal:addActivityDialog.isDialogDisplaying"
     tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="AddActivityModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" data-bind="with:addActivityDialog">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto ucase" id="newActivityLabel">Add New Job</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="typeahead-wrapper">
                                <label>Job #</label>
                                <!-- ko ifnot:loadingJobs -->
                                <select class="form-control"
                                        data-style="btn-white shadow-sm"
                                        data-live-search="true"
                                        data-size="15"
                                        data-bind="selectPicker:true, options: allJobs, optionsText: 'displayText', optionsValue: 'projectID', value: selectedJobId, valueAllowUnset: true"
                                        data-none-selected-text="...">
                                </select>
                                <!-- /ko -->
                                <!-- ko if:loadingJobs -->
                                <select class="form-control"
                                        data-style="btn-white shadow-sm"
                                        data-live-search="true"
                                        data-size="15"
                                        data-bind="disable:true, selectPicker:true, options: [], optionsText: 'jobName', optionsValue: 'projectID', value: null, valueAllowUnset: true"
                                        data-none-selected-text="Loading Jobs...">
                                </select>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-7 col-sm-12">
                            <label>Service Requests #</label>
                            <select class="form-control"
                                    data-style="btn-white shadow-sm"
                                    data-live-search="true"
                                    data-size="15"
                                    data-bind="enable: requestSelectEnable && selectedJobId,selectPicker:true, options: serviceRequests, optionsText: 'displayText', optionsValue: 'requestID', value: selectedServiceRequest, valueAllowUnset: true"
                                    data-none-selected-text="...">
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Work Code</label>
                            <select class="form-control"
                                    id="activityWorkCodeSelect"
                                    data-style="btn-white shadow-sm"
                                    data-live-search="true"
                                    data-size="15"
                                    data-bind="selectPicker:true, options: workCodes, optionsText: 'name', optionsValue: 'item_id', value: selectedWorkCode"
                                    data-none-selected-text="...">
                            </select>
                        </div>
                        <div class="col-md-2 col-4">
                            <label>Hours</label>
                            <input type="text" class="form-control" id="aad-job-hours" data-bind="value:jobHours, hasFocus:editingHours" />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label>Custom Columns</label>
                            <!-- ko if:customFields().length > 0 -->
                            <div class="row" data-bind="foreach:customFields">
                                <!-- ko if:isDropList==='N'-->
                                <div class="col-6">
                                    <label>
                                        <span data-bind="text:customFieldName"></span>
                                        <span data-bind="if:isMandatory==='Y'" class="req">*</span>
                                    </label>
                                    <input type="text" class="form-control" data-bind="value:customFieldValue" />
                                    <div class="help-block invalid-feedback" data-bind="validationMessage: customFieldValue"></div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if:isDropList==='Y'-->
                                <div class="col-6">
                                    <label>
                                        <span data-bind="text:customFieldName"></span>
                                        <span data-bind="if:isMandatory==='Y'" class="req">*</span>
                                    </label>

                                    <select class="form-control"
                                            data-style="btn-white shadow-sm"
                                            data-size="15"
                                            data-bind="selectPicker:true, options: dropListOptions, optionsText: 'name', optionsValue: 'id', value: customFieldValue, valueAllowUnset: true"
                                            data-none-selected-text="...">
                                    </select>
                                    <div class="help-block invalid-feedback" data-bind="validationMessage: customFieldValue"></div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- ko if:customFields().length === 0 && selectedServiceRequest() !== null -->
                            <div>No Customer Fields found for this project.</div>
                            <!-- /ko -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-bind="enable: selectedJobId() !== null && selectedServiceRequest() !== null, click:save">
                            SAVE
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-block" data-bind="click:closeDialog">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
