<!-- ko with:dailyStatusReportDialog-->
<div class="modal modal--forms" id="DailyStatusReportModal" data-bind="showModal:isDialogDisplaying"
     tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="DailyStatusReportModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header" style="padding-bottom: 0px">
                <h5 class="modal-title mr-auto ucase">Daily Status Report</h5>
                <button type="button" class="btn icon-only" data-bind="click:closeDialog">
                    <em class="fas fa-times"></em>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8">
                            <label>
                                Are there any punch or change order actions?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="PunchOrChange" value="true" id="PunchOrChange" data-bind="checked:punchOrChange">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="PunchOrChange" value="false" id="PunchOrChange" data-bind="checked:punchOrChange">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: punchOrChange"></div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Have items been cleaned and trash/recycle collected?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="CleanedAndCollected" value="true" id="CleanedAndCollected" data-bind="checked:cleanedAndCollected">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="CleanedAndCollected" value="false" id="CleanedAndCollected" data-bind="checked:cleanedAndCollected">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: cleanedAndCollected"></div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Check in with client before leaving site?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="CheckWithClient" value="true" id="CheckWithClient" data-bind="checked:checkWithClient">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="CheckWithClient" value="false" id="CheckWithClient" data-bind="checked:checkWithClient">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: checkWithClient"></div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Has all the gear/tools been collected?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="GearsAndToolsCollected" value="true" id="GearsAndToolsCollected" data-bind="checked:gearsAndToolsCollected">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="GearsAndToolsCollected" value="false" id="GearsAndToolsCollected" data-bind="checked:gearsAndToolsCollected">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: gearsAndToolsCollected"></div>
                    </div>


                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Is the paperwork signed off on all product received?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="IsPaperWorkSignedOff" value="true" id="IsPaperWorkSignedOff" data-bind="checked:isPaperWorkSignedOff">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="IsPaperWorkSignedOff" value="false" id="IsPaperWorkSignedOff" data-bind="checked:isPaperWorkSignedOff">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: isPaperWorkSignedOff"></div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Vendor badges or keys returned?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="VendorBadgesOrKeysReturned" value="true" id="VendorBadgesOrKeysReturned" data-bind="checked:vendorBadgesOrKeysReturned">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="VendorBadgesOrKeysReturned" value="false" id="VendorBadgesOrKeysReturned" data-bind="checked:vendorBadgesOrKeysReturned">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: vendorBadgesOrKeysReturned"></div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-12 col-md-8 ">
                            <label>
                                Product return forms completed?
                            </label>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                Yes
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="ProductReturnFormsCompleted" value="true" id="ProductReturnFormsCompleted" data-bind="checked:productReturnFormsCompleted">
                            </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2" style="padding-left: 20px;">
                            <div class="input-group">
                                No
                                <input class="form-check-input" style="margin-top: 0px!important;" type="radio" name="ProductReturnFormsCompleted" value="false" id="ProductReturnFormsCompleted" data-bind="checked:productReturnFormsCompleted">
                            </div>
                        </div>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: productReturnFormsCompleted"></div>
                    </div>

                    <div id="bodywithscroll" class="form-row mb-2" style="overflow-y: scroll;height:30vh;">
                        <div class="col-12">
                            <label for="installationcompletedtoday">
                                Installation Completed Today and % Project Completed To Date
                            </label>
                            <div class="input-group">
                                <textarea class="form-control" rows="6" id="installationcompletedtoday" data-bind="value: installationcompletedtoday"></textarea>
                            </div>
                        </div>


                        <div class="col-12">
                            <label for="installationscheduledfortotay">
                                Installation Scheduled For Tomorrow (if applicable)
                            </label>
                            <div class="input-group">
                                <textarea class="form-control" rows="6" id="installationscheduledfortotay" data-bind="value: installationscheduledfortotay"></textarea>
                            </div>
                        </div>


                        <div class="col-12">
                            <label for="productissuesjobconcerns">
                                Product Issues + Job Site Concerns
                            </label>
                            <div class="input-group">
                                <textarea class="form-control" rows="6" id="productissuesjobconcerns" data-bind="value: productissuesjobconcerns"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label for="productissuesjobconcerns" class="servicetrax-file-input buttonize">
                                Report Images
                                <button type="button" class="btn btn-green btn-sm mr-5"><em class="fas fa-plus"></em> ADD IMAGES</button>
                                <input type="file" multiple data-bind="fileInputSelection:(f) => insertFilesFromInput(f)">
                            </label>
                            <div class="" style="background-color: lightgrey; overflow-x:scroll; height: 15vh; display: flex"
                                 data-bind="event: {drop: function (data,e) { dropFileHandler(e,data);}, dragover: function(data, e){ dragover(e);}  }">
                                <!-- ko foreach:newImages -->
                                <img data-bind="attr: {src:URL.createObjectURL($data)}, click:function() { $parent.viewImage($data, true); }" style="height: 100%" class="mr-1">
                                <!-- /ko -->
                                <!-- ko foreach:images -->
                                <img data-bind="attr: {src:'/TimeEntry/DSRImage/'+$data}, click:function() { $parent.viewImage($data, false); }" style="height: 100%" class="mr-1">
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 ml-auto">
                        <button type="button" class="btn btn-green float-right px-4 mx-1" data-bind="click:previewReport, css: { 'btn-disabled': dataModified }"><em class="fas fa-save mr-2"></em> SAVE</button>
                        <button type="button" class="btn btn-green float-right px-4 mx-1" data-bind="click:viewReport, css: { 'btn-disabled': dataModified() === false }" ><em class="fas fa-eye mr-2"></em> VIEW</button>
                        <button type="button" class="btn btn-green float-right px-4 mx-1" data-bind="click:sendReportEmail, css: { 'btn-disabled': dataModified() === false || actionMessageBox.isSendingEmail() === true}"><em class="fas fa-envelope mr-2"></em> EMAIL REPORT</button>
                    </div>
                </div>

                <div id="divActionMessageBox" class="row mt-4" data-bind="visible:actionMessageBox.visible" style="display: none">
                    <div class="col-12">
                        <div class="alert alert-primary" role="alert" data-bind="visible:actionMessageBox.spinner" style="display: none">
                            <div class="d-flex align-items-center">
                                <div class="spinner-grow" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div data-bind="text:actionMessageBox.text"></div>
                            </div>
                        </div>

                        <div class="alert alert-primary" role="alert" data-bind="visible:actionMessageBox.outcomevisible" style="display: none">
                            <div data-bind="text:actionMessageBox.outcometext"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ko with:imagePanel -->
    <!-- ko if:open -->
    <div data-bind="click:$parent.closeImage" style="top: 0; width: 100%; height: 100%; position: fixed;">
        <div style="width: 80vw; height: 80vh; position: fixed; top: 5vh; left: 10vw; display: flex; flex-direction: column; align-items: center;">
            @*<a href="#" style="background-color: #8a939b85; padding: 5px 30px; margin-bottom: 2px; color: white; border-radius: 6px;" data-bind="click:$parent.closeImage"><i class="fas fa-times"></i> CLOSE</a>*@
            <img data-bind="attr: {src:source}, click:$parent.closeImage" style="height: 100%; width: auto; display: block; margin: 0 auto;" title="Click to close image">
            <a href="#" data-bind="click:() => $parent.removeImage()" style="background-color: #ffffffc2; padding: 5px 30px; margin-top: 2px; color: #d40000; border-radius: 6px;">
                <i class="fas fa-trash"></i> REMOVE IMAGE
            </a>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->