@using ServiceTRAX.Utils
@using ServiceTRAX.Identity
@using ServiceTRAX.Identity.Authorization
@model ServiceTRAX.Models.ViewModels.TimeEntryApproval

@{
    ViewData["Title"] = "Time Approval";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/datepicker.css" />
}



@section Scripts {
    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/lib/moment/moment.min.js'></script>
    <script type='text/javascript' src='~/lib/datepicker.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js'></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>
    <script type='text/javascript' src="~/js/TimeEntry/approval.js"></script>
    <script type='text/javascript' src="~/js/notification-dialog.js"></script>


    <script type="text/javascript">

        $(function () {
            // Get the MVC model as JS and Initialize the JS code
            initWeekApproval(@Html.Raw(JSONUtils.JsonUTC(Model)));
        });

    </script>

    <style>
        /* .inner-approve-row  {
            border-top: dashed 2px red;

        }*/

        .inner-approve-row td {
            border-top: none;
            padding: .45rem .75rem;
            border: 1px dashed #ddd;
        }

    </style>

}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-6  mb-4">
                <h2 data-bind="if:(resourceName() && !loadingData())">
                    <span data-bind="text:resourceName"></span> (<span title="Employee ADP File Number" data-bind="text:extEmployeeID"></span>)
                    - Time Entry Approval
                </h2>
                @if (!User.UserHasThisPermission(Permissions.ApproveMyWeekProxyApproveReject))
                {
                    <div data-bind="visible: !pendingDaysToApproveReject() ">
                        This screen is blank because time has not been entered for this pay period. Use the arrows to navigate to other pay periods.
                    </div>
                }
            </div>
            <div class="col-sm-8 col-lg-6 mb-2 text-right">
                <div class="d-flex flex-row justify-content-end">
                    <div requires-permission="@ServiceTRAX.Identity.Authorization.Permissions.ApproveMyWeekProxyApproveReject" class="d-flex flex-column flex-fill" id="ctx">
                        <label>
                            Filter by Resource
                        </label>
                        <!-- ko if:dayResources().length > 0 && dayResources().length <= 10 -->
                        <select class="w-100"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, options: dayResources, optionsText: 'resourceName', optionsValue: 'resourceID', value: asResourceID,  valueAllowUnset: true"
                                data-none-selected-text="Select a Resource...">
                        </select>
                        <!-- /ko -->
                        <!-- ko if:dayResources().length > 10 -->
                        <select class="col-12"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, options: dayResources, optionsText: 'resourceName', optionsValue: 'resourceID', value: asResourceID,  valueAllowUnset: true"
                                data-live-search="true"
                                data-none-selected-text="Select a Resource...">
                        </select>
                        <!-- /ko -->
                        <!-- ko if:dayResources().length == 0 -->
                        <select class="w-100"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, enable: false"
                                data-none-selected-text="No Resources found for this date...">
                        </select>
                        <!-- /ko -->
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn icon-only gray-icon align-self-end" title="Move to Prev Week..." data-bind="click:moveToPrevWeek"><em class="fas fa-chevron-left"></em></button>
                        <div>
                            <label style="justify-content: left" data-bind="text:selectedWeekRange">
                                Date - Week of
                            </label>
                            <div class="input-group mw-100" id="triggerCalendarEndDate">
                                <input type="text"
                                       autocomplete="off"
                                       class="form-control m-0"
                                       id="jobTimeEntryDate"
                                       data-bind="datepicker2: date, datepickerOptions: {  trigger: '#triggerCalendarEndDate' }"
                                       required />
                                <div class="input-group-append simulate-button">
                                    <span class="input-group-text input-group-append-custom">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn icon-only gray-icon align-self-end" title="Move to Next Week..." data-bind="click:moveToNextWeek"><em class="fas fa-chevron-right"></em></button>
                    </div>
                </div>
            </div>
        </div>


        <div data-bind="if:loadingData">
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="mr-5">Loading Time Approval data...</div>
            </div>
        </div>


        <!-- ko if:(resourceName() && !loadingData()) -->
        <div class="row mb-1">

            <div class="d-flex col-6 align-items-center">
                <h3 data-bind="text:'Total Week Hours: ' + totalHoursSum().toFixed(2)" class="mb-0"></h3>
            </div>

            <div class="col-6 text-right">
                <button class="btn btn-warning" id="toggleAccordionOn" data-bind="hidden: pannelsCollapsed, click:panelsCollapseToggle" style="display:none">
                    <i class="fas fa-angle-double-up"></i>
                </button>
                <button class="btn btn-warning" id="toggleAccordionOff" data-bind="visible: pannelsCollapsed, click:panelsCollapseToggle" style="display:none">
                    <i class="fas fa-angle-double-down"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <table class="table grid table--dark-blue table-striped text-center vcenter">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-left">Date</th>
                                    <th scope="col">SR #</th>
                                    <th scope="col" class="text-left">Job Name</th>
                                    <th scope="col">Time In</th>
                                    <th scope="col">time Out</th>
                                    <th scope="col">Lunches</th>
                                    <th scope="col">Lunch Time</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            <!-- ko foreach: approvalDays -->
                            <tbody>
                                <tr>
                                    <td class="text-left collapse-table-row" colspan="11">
                                        <span class="dayWeek collapse-panel-btn" data-toggle="collapse" data-bind="attr: {'data-target': '#' + bsCollapseGroupID }" aria-expanded="true">
                                            <strong class="mr-2" data-bind="text:moment(forDate).format('L')"></strong>-<span class="ml-2" data-bind="text:moment(forDate).format('dddd')"></span>
                                            <span class="ml-2" data-bind="ifnot:jobs.length > 0">-<span class="ml-2">No jobs found for this date.</span></span>
                                            <!-- ko if:jobs.length > 0  -->
                                            <span><em class="fas fa-chevron-up ml-2"></em><em class="fas fa-chevron-down ml-2"></em></span>
                                            <span class="float-right">
                                                <!-- ko if:isPTO == 1  -->
                                                <button class="btn btn-blue btn-sm" data-bind="click:() => $root.dayPTO.openDialog(timeSheetID, forDate), clickBubble: false">Remove PTO</button>
                                                 <!-- /ko -->
                                                <!-- ko if:isApproved == 0  -->
                                                <button class="btn btn-green btn-sm" data-bind="click:() => $root.dayApproval.openDialog(timeSheetID, forDate), clickBubble: false">Approve</button>
                                                <button class="btn btn-red btn-sm" data-bind="click:() => $root.dayReject.openDialog(timeSheetID, forDate), clickBubble: false">Reject</button>
                                                <!-- /ko -->
                                                <!-- ko if:isApproved === -1 && $root.canUndoRejectedTime && canUndo -->
                                                <span class="alert alert-danger p-1 mr-1" title="Undo Time Rejection..."
                                                      data-bind="click:() => $root.undoApproval(timeSheetID, forDate), clickBubble:false">
                                                    <em class="fas fa-undo px-1"></em>
                                                </span>
                                                <!-- /ko -->
                                                <!-- ko if:isApproved === 1  && canUndo -->
                                                <span class="alert alert-danger p-1 mr-1" title="Undo approval..."
                                                      data-bind="click:() => $root.undoApproval(timeSheetID, forDate), clickBubble:false">
                                                    <em class="fas fa-undo px-1"></em>
                                                </span>
                                                <!-- /ko -->
                                                <!-- ko if:isApproved === 1 -->
                                                <span class="alert alert-success p-1">Approved</span>
                                                <!-- /ko -->
                                                <!-- ko if:isApproved === -1 -->
                                                <span class="alert alert-danger p-1">Rejected</span>
                                                <!-- /ko -->
                                            </span>
                                            <!-- /ko -->
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- ko if: jobs -->
                            <!-- ko foreach: jobs -->

                            <tbody data-bind="attr: {id:$parent.bsCollapseGroupID}" class="dayjobsapproval-collapse dayjobs-row show">
                                <!-- ko foreach: jobsData -->
                                <tr class="inner-approve-row">
                                    <td class="text-left" style="border:none"></td>
                                    <td data-bind="text:request"></td>
                                    <td class="text-left" data-bind="text:jobDescription"></td>

                                    <!-- ko if:$index() === 0 -->
                                    <td data-bind="text:moment($parent.timeIn).format('LT'), attr: {rowspan: $parent.jobsDataLength}"></td>
                                    <td data-bind="text:moment($parent.timeOut).format('LT'), attr: {rowspan: $parent.jobsDataLength}"></td>
                                    <td data-bind="text:$parent.lunchs, attr: {rowspan: $parent.jobsDataLength}"></td>
                                    <td data-bind="text:$parent.lunchTime.toFixed(2), attr: {rowspan: $parent.jobsDataLength}"></td>
                                    <td data-bind="text:$parent.totalHours.toFixed(2), attr: {rowspan: $parent.jobsDataLength}"></td>
                                    <!-- /ko -->
                                </tr>
                                <!-- /ko -->
                            </tbody>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="footer">
</div>


<!-- Modal - Reject Timesheet Confirm -->
<div class="modal fade" id="RejectTimesheetModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="RejectTimesheetModal" aria-hidden="true"
     data-bind="showModal:weekReject.weekRejectDialogShown">
    <div class="modal-dialog modal-dialog-centered modal" role="document" data-bind="with:weekReject">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-danger"></em>
                </p>
                <h2 class="text-center text-uppercase"> Caution</h2>
                <p class="text-center m-0">You are about to REJECT your weekly time sheet. Do you wish to proceed?</p>

                <div class="form-group m-0">
                    <label for="AddRejectComment" class="col-form-label d-block text-center">Reason for Rejection</label>
                    <textarea type="text" class="form-control" id="AddRejectComment" placeholder="Add Comment..." rows="3" aria-describedby="VisibleClient" data-bind="value:reason"></textarea>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-danger btn-block cmdRejectTimeEntries" data-bind="click:rejectWeek">Reject Week</button>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" aria-label="Close" data-bind="click:closeDialog">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveIndividualModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveIndividualModal" aria-hidden="true"
     data-bind="showModal:weekApproval.weekApproveDialogShown">
    <div class="modal-dialog modal-dialog-centered modal" role="document" data-bind="with:weekApproval">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center">You are about to APPROVE your weekly time sheet. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries" data-bind="click:approveWeek">Approve Week</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-red btn-block cmdCancelTimeEntries" data-bind="click:closeDialog" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveTimesheetModal" data-backdrop="static" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveTimesheetModal" aria-hidden="true"
     data-bind="showModal:dayApproval.dayApproveDialogShown">
    <div class="modal-dialog modal-dialog-centered modal" role="document" data-bind="with:dayApproval">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center" data-bind="text:dialogText"></p>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries" data-bind="click:approveDay">Approve Day</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-bind="click:closeDialog" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Remove PTO Confirm -->
<div class="modal fade" id="RemovePTOModal" data-backdrop="static" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="RemovePTOModal" aria-hidden="true"
     data-bind="showModal:dayPTO.dayRemovePTODialogShown">
    <div class="modal-dialog modal-dialog-centered modal" role="document" data-bind="with:dayPTO">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center" data-bind="text:dialogText"></p>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries" data-bind="click:removePTO">Remove PTO</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-bind="click:closeDialog" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="RejectDayModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="RejectDayModal" aria-hidden="true"
     data-bind="showModal:dayReject.dayRejectDialogShown">
    <div class="modal-dialog modal-dialog-centered modal" role="document" data-bind="with:dayReject">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-danger"></em>
                </p>
                <h2 class="text-center text-uppercase"> Caution</h2>
                <p class="text-center m-0" data-bind="text:dialogText"></p>

                <div class="form-group m-0">
                    <label for="AddRejectComment" class="col-form-label d-block text-center">Reason for Rejection</label>
                    <textarea type="text" class="form-control" id="AddRejectComment" placeholder="Add Comment..." rows="3" aria-describedby="VisibleClient" data-bind="value:reason"></textarea>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-danger btn-block cmdRejectTimeEntries" data-bind="click:rejectDay">Reject Day</button>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-bind="click:closeDialog" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_NotificationDialog")