@model ServiceTRAX.Models.ViewModels.ServiceTRAXPageViewModel
@using ServiceTRAX.Identity

@{
    ViewData["Title"] = "Clocked In, Not Clocked Out";
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 180px;
            right: 20px;
            bottom: 30px;
        }
    </style>
}

@section Scripts {
    <link rel="stylesheet" href="~/css/mygrid.1.0.css" asp-append-version="true">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js" asp-append-version="true"></script>
    <script type='text/javascript' src='~/override/main-custom.js' asp-append-version="true"></script>

    <script type="text/javascript">
        let gridParameters = () => ({ ORGANIZATION_ID: @Model.OrganizationID, USER_ID: @User.GetUserID() });
        let gridEvents = {};
        let oGrid = new clsMyGrid('WidgetNotClockedOut', document.getElementById('tegGrid'), null, gridEvents, true, gridParameters());
    </script>

}

<div class="row">
    <div class="col-12 mt-3">
        <h2>CLOCKED IN, NOT CLOCKED OUT</h2>
    </div>
</div>
<div id="content-wrap">
    <div class="gridContent" id="tegGrid"></div>
</div>

