@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using ServiceTRAX.Utils
@using ServiceTRAX.Identity
@using ServiceTRAX.Identity.Authorization


@model ServiceTRAX.Models.ViewModels.TimeEntryServiceAccount

@{
    ViewData["Title"] = "Service Account Time Entry";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/datepicker.css" />

    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
}


@section Scripts {
    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/lib/moment/moment.min.js'></script>
    <script type='text/javascript' src='~/lib/datepicker.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/lib/knockout.validation/knockout.validation.min.js'></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/serviceacct-timeentry.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/TimeEntry/timeentry-picker-modal.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/TimeEntry/add-team-member.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/TimeEntry/multi-resource-action.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/TimeEntry/add-exception-dialog.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/TimeEntry/add-activity-dialog.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/js/notification-dialog.js' asp-append-version="true"></script>

    <script type="text/javascript">

        $(function () {
            // Get the MVC model as JS
            var timeentryModel = @Html.Raw(JSONUtils.JsonUTC(Model));
            initServiceAccountTimeEntry(timeentryModel);
        });

    </script>

}

<style type="text/css">

    .mimicanchor:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .approvedTimeEntryClass {
        background: rgba(96, 188, 98, 0.07) !important;
    }
</style>

<script type="text/html" id="up-down-time-template">
    <div class="input-group mb-3">
        <div class="input-group-prepend" data-bind="click:function() { $root.decreaseTime($data); }">
            <span class="input-group-text"><i class="fas fa-minus"></i></span>
        </div>
        <input type="number" class="form-control" data-bind="value:$data.hoursQty">
        <div class="input-group-append" data-bind="click:function() { $root.increaseTime($data); }">
            <span class="input-group-text"><i class="fas fa-plus"></i></span>
        </div>
    </div>
</script>

<div id="content">
    <div class="container p-0">
        <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-10">
                <h2 class="mx-3 align-middle">SERVICE ACCOUNT TIME ENTRY</h2>
                @*<a class="btn btn-green mt-0" href="@Url.Action("Approval", "TimeEntry", new { OrganizationID = Model.OrganizationID })"><em class="fas fa-check"></em> APPROVE MY WEEK</a>*@
            </div>
            <div class="offset-3 col-6 offset-md-0 col-md-2 m-md-0">
                <div class="input-group" id="triggerCalendarEndDate">
                    <input type="text"
                           autocomplete="off"
                           class="form-control m-0"
                           id="jobTimeEntryDate"
                           data-bind="datepicker: date, datepickerOptions: {  trigger: '#triggerCalendarEndDate', setEndDateTo: todayDate }, enable:screenLGorWider"
                           required />
                    <div class="input-group-append simulate-button">
                        <span class="input-group-text input-group-append-custom">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="hidden: dayDataLoadCompleted()" style="display:none">
            <div class="d-flex flex-row align-self-center justify-content-center">
                <div class="d-flex align-items-center">
                    <div class="m-3">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <h5 data-bind="text: 'Loading day jobs data for ' + moment(date()).format('MM-DD-YYYY')"></h5>
                </div>
            </div>
        </div>
        <div data-bind="visible: dayDataLoadCompleted() && dayResources().length === 0" style="display:none">
            <div class="d-flex justify-content-center">
                <h5 data-bind="text: 'There are no jobs assigned for ' + moment(date()).format('MM-DD-YYYY')"></h5>
            </div>
        </div>


        <div data-bind="visible: dayDataLoadCompleted() && dayResources().length > 0" style="display:none">
            <div class="row mb-1">
                <div class="col-12">
                    <!-- ko if: dayResources().length > 1 && !$root.isReadOnlyScreen() -->
                    @*<button data-bind="click:$root.showAutoStartDialog" class="btn btn-green mb-1"><em class="fas fa-clock mr-2"></em> Auto-Start</button>
                        <button data-bind="click:$root.showAutoEndDialog" class="btn btn-orange mb-1"><em class="fas fa-clock mr-2"></em> Auto-End</button>*@
                    <button data-bind="click:$root.showAddLunchDialog" class="btn btn-turquoise mb-1"><em class="fas fa-utensils mr-2"></em> Add Lunch</button>
                    <!-- /ko -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="timeentry">

                        <table class="table grid table--dark-blue table-striped text-center vcenter">
                            <thead>
                                <tr>
                                    <th scope="col">Exception</th>
                                    <th scope="col" class="text-left">Name</th>
                                    <th scope="col"></th>
                                    <th scope="col" style="width:7%; min-width: 120px;">In</th>
                                    <th scope="col">Lunch</th>
                                    <th scope="col" style="width:7%; min-width: 120px;">Out</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach:dayResources">
                                <!-- ko with:header -->
                                <tr data-bind="css: {approvedTimeEntryClass: isApproved}, attr: {title: isApproved ? 'Time Entry is Approved' : ''}">
                                    <td>

                                        <!-- ko ifnot:isApproved -->
                                        <!-- ko ifnot:noShowLookupID-->
                                        <button class="btn-circle btn-default-plus" data-bind="click:function() { $root.showExceptionDialog(serviceLineTimeEntryID, resourceID, {noShowLookupID, noShowLookupDesc, noShowNotes}); }"><em class="fas fa-plus"></em></button>
                                        <!-- /ko -->
                                        <!-- ko if:noShowLookupID-->
                                        <button class="btn-circle btn-default-plus btn-orange" data-bind="attr: {title: noShowLookupDesc + ' -- ' + noShowNotes}, click:function() { $root.showExceptionDialog(serviceLineTimeEntryID, resourceID, {noShowLookupID, noShowLookupDesc, noShowNotes}); }"><em class="fas fa-exclamation"></em></button>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if:isApproved -->
                                        <!-- ko ifnot:noShowLookupID-->
                                        <div><small>No Exception</small></div>
                                        <!-- /ko -->
                                        <!-- ko if:noShowLookupID-->
                                        <button class="btn-circle btn-default-plus btn-orange" data-bind="attr: {title: noShowLookupDesc + ' -- ' + noShowNotes}"><em class="fas fa-exclamation"></em></button>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </td>
                                    <td class="text-left">
                                        <em class="btn icon-only gray-icon fas fa-clipboard pl-0"></em><span data-bind="text:resourceName"></span>
                                        <!-- ko if:typeOfAdditionName -->
                                        <sub><span data-bind="text:'(' + typeOfAdditionName + ')'"></span></sub>
                                        <!-- /ko -->
                                    </td>
                                    <td>
                                        <!-- ko ifnot:isApproved || $root.isReadOnlyScreen -->
                                        <button type="button" requires-permission="@Permissions.TimeEntrySvcAcctJobAddRemoveUpdate" class="btn btn-sm btn-blue"
                                                data-bind="click:function() { $root.addJob($data); }">
                                            <i class="fas fa-plus"></i> JOB
                                        </button>
                                        <!-- /ko -->
                                    </td>
                                    <td>
                                        <!-- ko if: checkInOutButtonsEnabled && !isApproved && !$root.isReadOnlyScreen() -->
                                        <!-- ko if: timeEntryStartTime -->
                                        <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryStartTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', new Date(timeEntryStartTime), notes) }"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot: timeEntryStartTime -->
                                        <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', null, notes) }">Start</button>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: !checkInOutButtonsEnabled || isApproved || $root.isReadOnlyScreen -->
                                        <!-- ko if: timeEntryStartTime -->
                                        <div data-bind="text:moment(new Date(timeEntryStartTime)).format('LT')"></div>
                                        <!-- /ko -->
                                        <!-- ko ifnot: timeEntryStartTime -->
                                        <div>Not Started</div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </td>
                                    <td>
                                        <!-- ko ifnot:isApproved || $root.isReadOnlyScreen  -->
                                        <!-- ko if: addLunchButtonEnabled-->
                                        <button class="btn-circle btn-default-plus" data-bind="disable: timeEntryEndTime, click: function() { $root.addSingleLunch(resourceID); }"><em class="fas fa-plus"></em></button>
                                        <!-- /ko -->
                                        <!-- ko ifnot: addLunchButtonEnabled-->
                                        <span title="Not Available: please ask your Lead to enter Lunch time for you.">N/A</span>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </td>
                                    <td>
                                        <!-- ko if: checkInOutButtonsEnabled && !isApproved && !$root.isReadOnlyScreen()  -->
                                        <!-- ko ifnot: timeEntryStartTime -->
                                        <span>-</span>
                                        <!-- /ko -->
                                        <!-- ko if: timeEntryStartTime && !timeEntryEndTime -->
                                        <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', null, notes) }">End</button>
                                        <!-- /ko -->
                                        <!-- ko if: timeEntryStartTime && timeEntryEndTime -->
                                        <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryEndTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', new Date(timeEntryEndTime), notes) }"></span>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: !checkInOutButtonsEnabled || isApproved || $root.isReadOnlyScreen -->
                                        <!-- ko ifnot: timeEntryStartTime -->
                                        <span>-</span>
                                        <!-- /ko -->
                                        <!-- ko if: timeEntryStartTime && !timeEntryEndTime -->
                                        <div>Not Ended</div>
                                        <!-- /ko -->
                                        <!-- ko if: timeEntryStartTime && timeEntryEndTime -->
                                        <div data-bind="text:moment(new Date(timeEntryEndTime)).format('LT')"></div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </td>
                                    <td data-bind="text:hoursQty.toFixed(2)">
                                    </td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko foreach:activities -->
                                <tr class="activity" data-bind="if:lineType==='lunch', css: {approvedTimeEntryClass: $parent.header.isApproved}, attr: {title: $parent.header.isApproved ? 'Time Entry is Approved' : ''}">
                                    <td></td>
                                    <td class="text-left" colspan="2">
                                        <em class="fas fa-utensils ml-4"></em><span class="ml-3">Lunch</span>
                                    </td>
                                    <td>
                                        <!-- ko if: addLunchButtonEnabled && !$parent.header.isApproved && !$root.isReadOnlyScreen()  -->
                                        <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryStartTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', new Date(timeEntryStartTime), notes) }"></span>
                                        <!-- /ko -->
                                        <!-- ko if: !addLunchButtonEnabled || $parent.header.isApproved || $root.isReadOnlyScreen  -->
                                        <span data-bind="text:moment(new Date(timeEntryStartTime)).format('LT')"></span>
                                        <!-- /ko -->
                                    </td>
                                    <td>
                                        <!-- ko if: addLunchButtonEnabled && !$parent.header.isApproved && !$root.isReadOnlyScreen() -->
                                        <button class="btn-circle btn-default-plus" title="Remove this Lunch Time..."
                                                data-bind="click:() => $root.removeLunch(serviceLineTimeEntryID)">
                                            <em class="fas fa-minus"></em>
                                        </button>
                                        <!-- /ko -->
                                    </td>

                                    <td>
                                        <!-- ko if: addLunchButtonEnabled  && !$parent.header.isApproved && !$root.isReadOnlyScreen()  -->
                                        <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryEndTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', new Date(timeEntryEndTime), notes) }"></span>
                                        <!-- /ko -->
                                        <!-- ko if: !addLunchButtonEnabled  || $parent.header.isApproved || $root.isReadOnlyScreen -->
                                        <span data-bind="text:moment(new Date(timeEntryEndTime)).format('LT')"></span>
                                        <!-- /ko -->
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="activity" data-bind="ifnot:lineType==='lunch', css: {approvedTimeEntryClass: $parent.header.isApproved}, attr: {title: $parent.header.isApproved ? 'Time Entry is Approved' : ''}">
                                    <td></td>
                                    <td class="text-left" colspan="2">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <em class="fas fa-clock ml-md-4"></em>
                                                <span class="ml-md-3" data-bind="text:projectNameDisplayValue"></span>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <span class="ml-md-3" data-bind="text:itemName"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- ko if: !$parent.header.isApproved && !$root.isReadOnlyScreen() && !isReadOnly  -->
                                    <td style="zoom: 0.85" data-bind="template: {name: 'up-down-time-template', data:$data }"></td>
                                    <!-- /ko -->
                                    <!-- ko if: $parent.header.isApproved || $root.isReadOnlyScreen() || isReadOnly -->
                                    <td style="zoom: 0.85" data-bind="text: hoursQty().toFixed(2) + ' hs.'"></td>
                                    <!-- /ko -->
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @if (User.UserHasThisPermission(Permissions.TimeEntrySvcAcctCrewAddRemoveUpdate))
            {
                @*<div class="row" data-bind="ifnot:$root.isReadOnlyScreen">
                        <div class="col">
                            <button class="btn btn-primary" data-bind="click:showAddTeamMemberModal"><em class="fas fa-user-plus"></em> Add Team Member</button>
                        </div>
                    </div>*@
            }
        </div>
    </div>
    <div id="footer">
        <span class="d-md-none" id="screen-width-check"></span>
    </div>
</div>


<!----------- Add TE Exception Notes modal ------------->

<div class="modal fade modal--forms" id="TEExceptionModal" tabindex="-1" role="dialog" aria-labelledby="TEExceptionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Add Time Entry Exception</h5>
            </div>
            <div class="modal-body pt-0 pb-0">
                <form>
                    <div class="form-group">
                        <label for="TEExceptionNotes" class="col-form-label">Notes</label>
                        <textarea type="text" class="form-control" id="TEExceptionNotes" placeholder="Add Comment..." rows="3" aria-describedby="VisibleClient"></textarea>
                    </div>
                </form>
            </div><!--/modal-body-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                            Save
                        </button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Reject Timesheet Confirm -->
<div class="modal fade" id="RejectTimesheetModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="RejectTimesheetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-danger"></em>
                </p>
                <h2 class="text-center text-uppercase"> Caution</h2>
                <p class="text-center">You are about to REJECT the daily time sheet. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-danger btn-block cmdRejectTimeEntries">Reject</button>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveIndividualModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveIndividualModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center">You are approving your daily time sheet. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries" data-dismiss="modal">Approve</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-red btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Reject</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveTimesheetModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveTimesheetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center">You are approving the daily time sheet. Do you wish to proceed?</p>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries">Approve</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Assign New Lead Confirm -->
<div class="modal fade" id="NewLeadModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="NewLeadModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-orange"></em>
                </p>
                <h2 class="text-center text-uppercase"> Are You Sure?</h2>
                <p class="text-center">You are signing out while workers are on the job site. You must assign a new lead.</p>
                <div class="text-center">
                    <select class="selectpicker" id="AssignNewLead" data-style="btn-white shadow-sm" data-none-selected-text="...">
                        <option selected="" value="">Select Team Member</option>
                        <option>Name1</option>
                        <option>Name2</option>
                    </select>
                </div>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row small-gutters">
                    <div class="col-6">
                        <button type="button" class="btn btn-orange btn-block cmdAssignNewLead">Assign New</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelNewLead" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Auto-Start -->
<div class="modal fade" id="AutoStartModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="AutoStartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto mb-0">Auto-Start</h5>
            </div>
            <div class="modal-body pt-0">
                <label>
                    Select which workers are present at the  job site at the start of the work day.
                </label>

                <div class="magic-checkbox-wrapper">
                    <input class="magic-checkbox" type="checkbox" id="1" checked="">
                    <label for="1">Carl Jones</label>
                    <input class="magic-checkbox" type="checkbox" id="2">
                    <label for="2">David McGuire</label>
                    <input class="magic-checkbox" type="checkbox" id="3">
                    <label for="3">Bob Smith</label>
                    <input class="magic-checkbox" type="checkbox" id="4" checked="">
                    <label for="4">Jacob Weaver</label>
                    <input class="magic-checkbox" type="checkbox" id="5" checked="">
                    <label for="5">William Harris</label>
                </div>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row small-gutters">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block cmdStartDay" data-dismiss="modal" aria-label="Close">
                            <div class="m-0">Start the Work Day</div>
                            <div id="serverTime" class="m-0 text-turquoise">08:00 AM</div>
                        </button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!----------- No Lunch modal ------------->

<div class="modal modal--forms" id="MissingLunchModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="NotesModal" aria-hidden="true"
     data-bind="showModal:missingLunchModal.isDialogDisplaying">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document" data-bind="using:missingLunchModal">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Warning</h5>
            </div>
            <div class="modal-body pt-0 pb-0">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" data-bind="text:message"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-bind="click: function() { goAhead(); }">Go ahead End Time</button>
                        <button type="button" class="btn btn-primary btn-block" data-bind="click: function() { goBack(); }">Go back To Add Lunch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("_AddActivityDialog")
@await Html.PartialAsync("_AddTeamMember")
@await Html.PartialAsync("_TimeEntryPickerModal")
@await Html.PartialAsync("_MultiResourceAction")
@await Html.PartialAsync("_AddExceptionDialog")
@await Html.PartialAsync("_NotificationDialog")
