@model ServiceTRAX.ViewComponents.WidgetDocumentCenter.WidgetDocumentCenterViewModel

<style type="text/css">
    .widget-schjobs-card-borders {
        margin: 5px;
        height: 96%;
    }

    .widget-schjobs-title {
        font-size: 0.9rem;
        font-weight: bold;
    }


    #widget-schjobs::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    #widget-schjobs::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #widget-schjobs::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        #widget-schjobs::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>




<div class="card widget-schjobs-card-borders">
    <div class="card-body p-0">
        <div id="widget-schjobs" class="d-flex flex-column" style="overflow-y:scroll; height: 100%">
            <h4 class="text-center widget-schjobs-title my-2">
                Document Center
            </h4>
            <table class="table widget-table">
                <colgroup>
                    <col style="width:50%">
                    <col style="width:50%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Document</th>
                        <th scope="col">Email To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.Documents)
                    {
                        <tr>
                            <td scope="row">
                                <a href="~/ProjectFiles/DocumentsCenter/@doc.OrganizationID/@doc.DocumentID">
                                    @doc.DocumentName
                                </a>
                            </td>
                            <td scope="row">
                                <a href="mailto:@doc.EmailAddress">
                                    @doc.EmailAddress
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



