@model ServiceTRAX.ViewComponents.WidgetTimesheetSubmitStatus.WidgetTimesheetSubmitStatusViewModel

<style type="text/css">
    .card-borders {
        margin: 5px;
        height: 96%;
    }

    .wtss-centered-counter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 9em;
    }

    .wtss-green {
        color: #4bc709;
    }

    .wtss-red {
        color: #d81111;
    }

        .wtss-red :hover {
            text-shadow: 3px 3px 4px rgb(216 17 17 / 0.63);
        }
</style>



<div class="card card-borders">
    <div class="card-body">
        <div class="wtss-centered-counter d-flex flex-column">
            @if (Model.ApprovedStatus.IsAllApproved)
            {
                <p class="text-center wtss-green">
                    <i class="fas fa-check"></i>
                </p>

                <h4 class="text-center"><strong>Time Sheet Submit Status</strong></h4>
            }
            @if (!Model.ApprovedStatus.IsAllApproved)
            {
                <a asp-controller="TimeEntry" asp-action="Approval"
                   asp-route-OrganizationID="@Model.OrganizationID"
                   asp-route-ForDate="@Model.ApprovedStatus.Date">

                    <p class="text-center wtss-red">
                        <i class="fas fa-exclamation"></i>
                    </p>

                    <h4 class="text-center"><strong>Time Sheet Submit Status</strong></h4>
                </a>
            }
        </div>
    </div>
</div>
