<!-- ko with:newCustomLineDialog-->
<div class="modal fade modal--forms" id="NewCustomLineDialog" data-bind="showModal:isDialogDisplaying"
     tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="NewCustomLineDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto ucase" id="newInvoiceLabel">Add Invoice Custom Line</h5>
            </div>
            <div class="modal-body">

                @*<div class="form-row mb-3">
                        <div class="col-4">
                            <label>
                                <span>Invoice ID</span>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label>
                                <span>Line #</span>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label>
                                <span>PO #</span>
                            </label>
                            <input type="text" class="form-control" />
                        </div>

                    </div>*@
                <div class="form-row mb-3">
                    <div class="col-8">
                        <label>
                            <span>Req #</span>
                        </label>
                        <select class="form-control"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, options: serviceRequests, optionsText: 'displayText', optionsValue: 'service_ID', value: selectedServiceRequest, valueAllowUnset: true"
                                data-none-selected-text="...">
                        </select>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: selectedServiceRequest"></div>
                    </div>
                    <div class="col-4">
                        <label>
                            <span>Item Name</span>
                        </label>
                        <select class="form-control"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, options: serviceItems, optionsText: 'item_Name', optionsValue: 'item_ID', value: selectedServiceItem, valueAllowUnset: true"
                                data-none-selected-text="...">
                        </select>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: selectedServiceItem"></div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-4">
                        <label>
                            <span>PO #</span>
                        </label>
                        <input type="text" class="form-control" data-bind="value:linePONO" />
                        <div class="help-block invalid-feedback" data-bind="validationMessage: linePONO"></div>
                    </div>
                    <div class="col-2">
                        <label>
                            <span>Quantity</span>
                        </label>
                        <input type="number" class="form-control" data-bind="value:lineQuantity" />
                        <div class="help-block invalid-feedback" data-bind="validationMessage: lineQuantity"></div>
                    </div>
                    <div class="col-2">
                        <label>
                            <span>Rate</span>
                        </label>
                        <input type="number" class="form-control" data-bind="value:lineRate" />
                        <div class="help-block invalid-feedback" data-bind="validationMessage: lineRate"></div>
                    </div>
                    <div class="col-2">
                        <label>
                            <span style="opacity:0">Is Taxable</span>
                        </label>
                        <div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="isSendToScheduleCheck" data-bind="checked: lineIsTaxable"/>
                            <label for="isSendToScheduleCheck">Taxable</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>
                            <span>Total</span>
                        </label>
                        <input type="text" class="form-control" data-bind="value:lineTotal" disabled="disabled" />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-12">
                        <label>
                            <span>Description</span>
                        </label>
                        <textarea type="text" class="form-control" placeholder="Custom Line Description..." rows="5" aria-describedby="VisibleClient" data-bind="value:lineDescription"></textarea>
                        <div class="help-block invalid-feedback" data-bind="validationMessage: lineDescription"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-row">
                    <div class="col-4 ml-auto">
                        <button type="button" class="btn btn-primary btn-block" data-bind="click:saveCustomLine">
                            ADD CUSTOM LINE
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-warning btn-block" data-bind="click:closeDialog">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ko-->