<!-- ko with:newInvoiceDialog-->
<div class="modal fade modal--forms" id="AddInvoiceModal" data-bind="showModal:isDialogDisplaying"
     tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="AddInvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto ucase" id="newInvoiceLabel">Add New Invoice</h5>
            </div>
            <div class="modal-body newinvoice-dialog-style">
                <form>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label>
                                <span>Customer</span>
                            </label>
                            <input type="text" class="form-control" data-bind="value:customername" readonly />
                        </div>
                        <div class="col-4">
                            <label>
                                <span>Job#</span>
                            </label>
                            <input type="text" class="form-control" data-bind="value:jobno" readonly />
                        </div>
                        <div class="col-4">
                            <label>
                                <span>Dealer</span>
                            </label>
                            <input type="text" class="form-control" data-bind="value:dealer" readonly />
                        </div>
                    </div>

                    <hr />
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="row pt-2">
                                <div class="col">
                                    <label>Invoice Type</label>
                                    <select class="form-control"
                                            data-style="btn-white shadow-sm"
                                            data-bind="selectPicker:true, options: invoiceTypes, optionsText: 'name', optionsValue: 'id', value: selectedInvoiceType, valueAllowUnset: true"
                                            data-none-selected-text="...">
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <label>Billing Type</label>
                                    <select class="form-control"
                                            data-style="btn-white shadow-sm"
                                            data-bind="selectPicker:true, options: billingTypes, optionsText: 'name', optionsValue: 'id', value: selectedBillingType, valueAllowUnset: true"
                                            data-none-selected-text="...">
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2" data-bind="visible:billingAmtVisible">
                                <div class="col">
                                    <label>Bill Amt</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control" data-bind="value:billAmt" onClick="this.select();" />
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <label>Billing Period <span data-bind="visible:isEndPeriodRequired" class="req">*</span></label>
                                    <select class="form-control"
                                            data-style="btn-white shadow-sm"
                                            data-bind="selectPicker:true, options: billingPeriods, optionsText: 'monthYear', optionsValue: 'monthYear', value: selectedBillingPeriod, valueAllowUnset: true"
                                            data-none-selected-text="...">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>
                                <span>Description</span>
                            </label>
                            <textarea type="text" class="form-control" placeholder="Invoice Description..." rows="5" aria-describedby="VisibleClient" data-bind="value:invoiceDescription"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col">
                        @*<button type="button" class="btn btn-primary btn-block" data-bind="enable: selectedInvoiceType() !== null && selectedBillingType() !== null && assignedTo() !== null, click: addInvoice">*@
                        <button type="button" class="btn btn-primary btn-block" data-bind="enable: saveInvoiceButtonEnabled, click: addInvoice">
                            ADD INVOICE
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-block" data-bind="click:closeDialog">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->