@model ServiceTRAX.Models.ViewModels.BillingACIInvoicesViewModel
@using ServiceTRAX.Identity

@{
    ViewData["Title"] = "Invoices";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/datepicker.css" />

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 180px;
            right: 20px;
            bottom: 30px;
        }
    </style>
}


@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css" asp-append-version="true">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js" asp-append-version="true"></script>

    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/lib/moment/moment.min.js'></script>
    <script type='text/javascript' src='~/lib/datepicker.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js' asp-append-version="true"></script>
    <script type='text/javascript' src='~/override/main-custom.js' asp-append-version="true"></script>

    <script type="text/javascript">


        $(function () {
            var gridName = "ACI-Invoices";
            var model =  @Html.Raw(Json.Serialize(Model));

            model.gridEvents = {};

            model.getGridParameters = function () {
                return {
                    'ORGANIZATION_ID': @Model.OrganizationID,
                    'FROMDATE': moment(model.dateFrom()).toISOString(),
                    'TODATE': moment(model.dateTo()).toISOString(),
                    'RUNNING_AS_USERID': @User.GetUserID(),
                    'JOBID': null
                };
            }

            function gridReset() {
                oGrid.reset(gridName, model.gridEvents, model.getGridParameters());
            }

            //
            // Date change handling
            //
            model.dateFrom = ko.observable(model.dateFrom);
            model.dateFrom.subscribe(function () { gridReset(); });
            model.dateTo = ko.observable(model.dateTo);
            model.dateTo.subscribe(function () { gridReset(); });

            const oGrid = new clsMyGrid(gridName, document.getElementById('ACIInvcTEG'), null, model.gridEvents, true, model.getGridParameters());

            //
            // KO Binding Handlers
            //
            ko.bindingHandlers.selectPicker = ServiceTRAXBindingHandlers.selectPicker;
            ko.bindingHandlers.datepicker = ServiceTRAXBindingHandlers.datepicker;
            ko.applyBindings(model);
        });

    </script>
}




<div id="content" class="pl-0">
    <div class="container-fluid pl-0">
        <div class="d-flex flex-row">
            <h2>INVOICES</h2>
            <div class="ml-auto">
                <div class="form-inline" style="align-items:center">
                    <label class="mr-2">
                        Date From
                    </label>
                    <div class="input-group" id="triggerFromDate">
                        <input type="text"
                               autocomplete="off"
                               class="form-control m-0"
                               data-bind="datepicker: dateFrom, datepickerOptions: {  trigger: '#triggerFromDate' }"
                               required />
                        <div class="input-group-append simulate-button">
                            <span class="input-group-text input-group-append-custom">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <label class="ml-5 mr-2">
                        Date To
                    </label>
                    <div class="input-group" id="triggerToDate">
                        <input type="text"
                               autocomplete="off"
                               class="form-control m-0"
                               data-bind="datepicker: dateTo, datepickerOptions: {  trigger: '#triggerToDate' }"
                               required />
                        <div class="input-group-append simulate-button">
                            <span class="input-group-text input-group-append-custom">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="content-wrap">
            <div class="gridContent" id="ACIInvcTEG"></div>
        </div>
    </div>
</div>
