@model ServiceTRAX.Models.ViewModels.BillingOpenViewModel
@using ServiceTRAX.Identity

@{
    ViewData["Title"] = "Billing";
}



@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 170px;
            right: 20px;
            bottom: 30px;
        }
    </style>
}


@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js" asp-append-version="true"></script>
    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js'></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>

    <script type="text/javascript">

        const openJobBilling = function (jobno) {
            window.location = '/Billing/ByJob?OrganizationID=@Model.OrganizationID&JobID=' + jobno;
        }

        $(function () {

            var model =  @Html.Raw(Json.Serialize(Model));

            model.billingViewType = ko.observable(model.viewType);
            model.billingViewType.subscribe(function () {
                window.location = `/Billing/ByJob?OrganizationID=${model.organizationID}&JobID=123321&ViewType=${model.billingViewType()}`;
            });


            let gridParameters = () => ({ 'ORGANIZATION_ID': @Model.OrganizationID, 'USERTYPE': '@Model.UserType' });
            let gridEvents = {};
            let oGrid = new clsMyGrid('BillingIndex', document.getElementById('billingTEG'), null, gridEvents, true, gridParameters());

            ko.bindingHandlers.selectPicker = ServiceTRAXBindingHandlers.selectPicker;
            ko.applyBindings(model);
        });


    </script>

}

<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col pl-0 ml-0">
                <h2>BILLING</h2>
            </div>
        </div>
        <div class="row">
            <div class="d-flex">
                <div id="content-wrap">
                    <div class="gridContent qrsGrid" id="billingTEG"></div>
                </div>
            </div>
        </div>
    </div>
</div>
