@model ServiceTRAX.Models.ViewModels.PooledHoursViewModel

@{
    ViewData["Title"] = "Pooled Hours";
}


@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 170px;
            right: 20px;
            bottom: 70px;
        }
    </style>
}


@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js?1"></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>

    <script type="text/javascript">

        const openPooledHrs = function (jobno) {
            window.location = '/Billing/PooledReqs?OrganizationID=@Model.OrganizationID&JobID=' + jobno;
        }

        $(function () {

            let userGridEvents = {
                buttonClick: function (btn, row) {
                    if (btn.id === 'OpenInternalReqs') {
                        window.location = `@Url.Content("~/billing/internalreqs")?JobID=${row.JOB_ID}&OrganizationID=@Model.OrganizationID`
                    }
                }
            };

            let userGridParameters = function () {
                return { ORGANIZATION_ID: @Model.OrganizationID }
            };

            let oGrid = new clsMyGrid('PooledHours', document.getElementById('PooledHours'), null, userGridEvents, true, userGridParameters());
        });

    </script>
}

<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col pl-0 ml-0">
                <h2>POOLED HOURS</h2>
            </div>
        </div>
        <div class="row">
            <div class="d-flex">
                <div id="content-wrap">
                    <div class="gridContent" id="PooledHours"></div>
                </div>
            </div>
        </div>
    </div>
</div>
